<div th:replace="common/back_codemirror">
</div>
<script type="text/javascript" th:src="@{../../../js/widgets.js}"></script>
<form id="widgetCreateForm" th:object="${createForm}">
  <div class="card mb-4">
    <div class="card-body">
      <div class="form-check form-group mb-3" id="formInputName">
        <label th:text="#{widget.name.label}"/>
        <input type="text" class="form-control" th:field="*{name}"/>
        <small class="form-text text-muted" th:text="#{widget.name.help}"/>
      </div>
      <div class="form-check form-group mb-3" id="formInputType">
        <label th:text="#{widget.type.label}"/>
        <select th:field="*{type}" class="form-control">
          <option th:each="widgetType : ${widgetTypes}" th:value="${widgetType}"
                  th:text="${widgetType}"></option>
        </select>
        <small class="form-text text-muted" th:text="#{widget.type.help}"/>
      </div>
      <div class="form-check form-group">
        <label th:text="#{widget.personalization.language.label}"/>
        <select name="localeCode" id="localeCode" th:field="*{localeCode}"
                class="form-control">
          <option th:each="locale : ${locales}" th:value="${locale.language}"
                  th:text="${locale.displayLanguage}"></option>
        </select>
        <small class="form-text text-muted" th:text="#{widget.personalization.language.help}"/>
      </div>
      <div class="form-check">
        <label th:text="#{widget.asynchronous.label}"/>
      </div>
      <div class="form-check">
        <label class="switch">
          <input type="checkbox" class="form-check-input"
                 th:name="asynchronous" th:id="asynchronous">
          <span class="slider"></span>
        </label>
        <small class="form-text text-muted" th:text="#{widget.asynchronous.help}"/>
      </div>
    </div>
    <div class="card-footer">
      <div class="float-right">
        <a class="btn btn-md btn-danger collapsed fa fa-times fa-white"
           href="/manager/widgets"
        ></a>
        <a class="btn btn-md btn-success fa fa-check fa-white" onclick="postCreateWidgetForm()"
           th:if="${currentUser.hasPrivilege('webmastering:widgets:create')}"></a>
      </div>
    </div>
  </div>
</form>
<div class="card card-loader">
  <div class="loader">
  </div>
</div>

