<script type="text/javascript" th:src="@{../../../js/widgets.js}"></script>
<div th:replace="common/back_codemirror">
</div>
<div class="card mb-4">
  <div role="tabpanel" class="card-header">
    <ul class="nav nav-tabs card-header-tabs" id="widgetTabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="main-tab" data-toggle="tab" href="#" role="tab"
           onclick="goToWidgetMainTab()">
          <span th:text="#{widget.tab.main}"/>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="header-tab" data-toggle="tab" href="#" role="tab"
           onclick="goToPersonalizationTab()">
          <span th:text="#{widget.tab.personalization}"/>
        </a>
      </li>
      <li class="nav-item" th:if="${currentUser.hasPrivilege('administration:memberships:read')}">
        <a class="nav-link" id="membership-tab" data-toggle="tab" href="#" role="tab"
           onclick="goToMembershipTab()">
          <span th:text="#{tab.membership}"/>
        </a>
      </li>
      <div th:replace="common/back_delete_link :: deleteTab(${'webmastering:widgets:delete'})"/>
    </ul>
  </div>
  <div class="tab-content card-body" id="widgetTabContent">
    <div role="tabpanel" class="tab-pane fade active show" id="ajaxTab">
    </div>
  </div>
</div>
<script th:inline="javascript">
  var currentTab = "";
  var languageCode = [[${updateForm.localeCode}]];
  var codeMirrorPersonalization;

  var goToWidgetMainTab = function () {
    if (currentTab !== "main") {
      var url = "/manager/widgets/" + [['' + ${updateForm.id} +'']] + "/_main?languageCode="
          + languageCode;
      $.get(url, function (data) {
        $("#ajaxTab").html(data);
        currentTab = "main";
      });
    }
  };

  var goToPersonalizationTab = function () {
    if (currentTab !== "personalization") {
      var url = "/manager/widgets/" + [['' + ${updateForm.id} +'']]
          + "/_personalization?languageCode="
          + languageCode;
      $.get(url, function (data) {
        $("#ajaxTab").html(data);
        currentTab = "personalization";
        prepareDragAndDrop();
        codeMirrorPersonalization = setUpCodeMirror("widgetPersonalization");
        fix_code_mirror_height();
      });
    }
  };

  var goToMembershipTab = function () {
    if (currentTab !== "memberships") {
      var url = "/manager/widgets/" + [['' + ${updateForm.id} +'']] + "/_memberships";
      $.get(url, function (data) {
        $("#ajaxTab").html(data);
        currentTab = "memberships";
      });
    }
  };

  $(document).ready(function () {
    goToWidgetMainTab();

    $("#confirmDelete").click(function () {
      var url = "/manager/widgets/" + [['' + ${updateForm.id} +'']];
      var urlFallBack = "/manager/widgets";
      var form = $("#widgetTabContent");
      var loader = $(".loader");
      var cardLoader = $(".card-loader");
      deleteAndHandleResult(form, loader, cardLoader, url, urlFallBack);
    });
  });

  var setUpCodeMirror = function (textAreaId) {
    var codeMirror = CodeMirror.fromTextArea(document.getElementById(textAreaId),
        {
          theme: "neo",
          lineNumbers: true,
          lineWrapping: true,
          extraKeys: {
            "F11": function (cm) {
              cm.setOption("fullScreen", !cm.getOption("fullScreen"));
            },
            "Esc": function (cm) {
              if (cm.getOption("fullScreen")) {
                cm.setOption("fullScreen", false);
              }
            },
            "Ctrl-Space": "autocomplete"
          }
        });
    codeMirror.on("drop", function (editor, e) {
      var dataTransferred = e.dataTransfer.getData("text/html");
      var newDiv = getMacroHtml(dataTransferred);
      var coordinatess = codeMirror.coordsChar({
        left: e.x,
        top: e.y
      });
      editor.replaceRange(newDiv, coordinatess);
    });
    return codeMirror;
  }

  var prepareDragAndDrop = function () {
    $(".macros").on("dragstart", function (event) {
      event.originalEvent.dataTransfer.setData("text/html",
          event.target.getAttribute("data-name"));
      $.event.addProp('dataTransfer');
    })
  }

  var buttonHtml = '<button type="button" class="btn btn-primary">Primary</button>'
  var cardHtml = '<div class="card">\n<div class="card-header">\nHeader\n</div>\n<div class="card-body">\nBody\n</div>\n<div class="card-footer">\nFooter\n</div>\n</div>';
  var colHtml = '<div class="col-12">\n</div>';
  var rowHtml = '<div class="row">\n</div>';
  var navHtml = '<ul class="nav">\n<li class="nav-item">\n<a class="nav-link-item active" href="#">\nLink active\n</a>\n</li>\n<li class="nav-item">\n<a class="nav-link-item">\nLink not active\n</a>\n</li>\n</ul>';
  var collapseHtml = '<p>\n<a class="btn btn-primary"  data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">\nCollapse Toggler\n</a>\n</p>\n<div class="collapse" id="collapseExample">\n<div class="card card-body">\nLorem ipsum\n</div>\n</div>';
  var paginationHtml = '<nav aria-label="Page navigation example">\n<ul class="pagination">\n<li class="page-item">\n<a class="page-link" href="#">\nPrevious\n</a>\n</li>\n<li class="page-item">\n<a class="page-link" href="#">\n1\n</a>\n</li>\n<li class="page-item">\n<a class="page-link" href="#">\nNext\n</a>\n</li>\n</ul>\n</nav>';

  var getMacroHtml = function (macro) {
    if (macro === "card") {
      return cardHtml;
    }
    if (macro === "col") {
      return colHtml;
    }
    if (macro === "row") {
      return rowHtml;
    }
    if (macro === "nav") {
      return navHtml;
    }
    if (macro === "collapse") {
      return collapseHtml;
    }
    if (macro === "pagination") {
      return paginationHtml;
    }
    if (macro === "button") {
      return buttonHtml;
    }
    return "";
  }

</script>


           
