<div class="card-header">
    <div class="form-check float-right">
        <label>
            <input type="checkbox" th:id="${'checkbox-'+feed.facebookId}" value="" data-click=""
                   th:id="${feed.facebookId}"
                   class="form-check-input facebook-checkbox"/>
            <span th:text="#{import.one}" class="form-check-label"/>
        </label>
    </div>
    <h3 class="card-title" th:text="${feed.title}"/>
    <h3 class="card-title" th:text="${feed.formattedDate}"/>
</div>
<div th:if="${feed.link}" th:include="back/posts/link"/>
<div th:if="${feed.photo}" th:include="back/posts/photo"/>
<div th:if="${feed.status}" th:include="back/posts/status"/>
<div th:if="${feed.video}" th:include="back/posts/video"/>
<input type="hidden" th:value="${feed.author}" th:id="${'feed_author_'+feed.facebookId}"/>
<input type="hidden" th:value="${feed.title}" th:id="${'feed_title_'+feed.facebookId}"/>
<input type="hidden" th:value="${feed.type}" th:id="${'feed_type_'+feed.facebookId}"/>
<input type="hidden" th:value="${feed.description}" th:id="${'feed_description_'+feed.facebookId}"/>
<input type="hidden" th:value="${feed.photoUrl}" th:id="${'feed_photoUr_'+feed.facebookId}"/>
<input type="hidden" th:value="${feed.videoUrl}" th:id="${'feed_videoUrl_'+feed.facebookId}"/>
<input type="hidden" th:value="${feed.linkUrl}" th:id="${'feed_linkUrl_'+feed.facebookId}"/>
<input type="hidden" th:value="${feed.creationDate}"
       th:id="${'feed_creationDate_'+feed.facebookId}"/>
<input type="hidden" th:value="${feed.objectId}" th:id="${'feed_objectId_'+feed.facebookId}"/>

<script type="text/javascript">

    $(".facebook-checkbox").each(function () {
        var that = $(this);
        that.on("click", function () {
            toggleImport(that.attr("id"));
        });
    });
</script>
