<div class="card mb-3">
  <div class="card-header">
    <h3 th:text="${newsBean.title}"/>
    <div class="card-text">
      <span th:text="#{news.entry.by}"/>
      <span th:text="${newsBean.author}"/>
      <span th:text="#{news.entry.the}"/>
      <span
          th:text="${#temporals.format(newsBean.creationDate, 'dd/MM/yy')}"/>
      <span th:text="#{news.entry.at}"/>
      <span
          th:text="${#temporals.format(newsBean.creationDate, 'HH:mm')}"/>
    </div>
  </div>
  <div class="card-body"
       th:if="${newsBean.withUploadedImage || newsBean.withEditorialContent}">
    <figure th:if="${newsBean.withUploadedImage}">
      <img class="img-fluid mx-auto d-block" th:src="${newsBean.uploadedImageSrc}"
           th:alt="${newsBean.alt}"/>
      <figcaption class="text-right" th:text="${newsBean.legend}"/>
    </figure>
    <p class="card-text"
       th:if="${newsBean.withEditorialContent && !#strings.isEmpty(newsBean.editorialLink)}">
      <a th:src="${newsBean.newsContent.linkUrl}" th:text="${newsBean.newsContent.content}"></a>
    </p>
    <div class="video-container"
         th:if="${newsBean.withEditorialContent &&  !#strings.isEmpty(newsBean.editorialVideoUrl)}">
      <iframe th:src="${newsBean.newsContent.videoUrl}">
      </iframe>
    </div>
  </div>
  <div class="card-footer" th:if="${!#strings.listIsEmpty(newsBean.tags)}">
     <span th:each="tag : ${#strings.arraySplit(newsBean.tags, ';')}"
           class="badge badge-pill  badge-info"
           th:text="${tag}"/>
  </div>
</div>
</div>
