<div class="newsEntries" id="newsEntries">
  <div class="input-group mt-3 mb-3">
    <input type="text" id="queryInput" class="form-control"
           aria-describedby="addon">
    <div class="input-group-append">
      <btn class="btn input-group-text" id="addon" onclick="search()">
        <i class="fa fa-search"></i>
      </btn>
    </div>
  </div>
  <div th:each="newsBeanId : ${news}" th:id="${'ajaxNewsEntry_' + newsBeanId}" class="mt-3 mb-3">
    <div class="card card-loader" th:id="${'ajaxLoader_' + newsBeanId}">
      <div class="loader"></div>
    </div>
  </div>
  <div th:replace="widgets/blog_pagination :: pagination(${wrappedNews})"/>
</div>

<script th:inline="javascript">
  $(document).ready(function () {

    var widgetId = [[${widgetId}]];
    var blogEntriesIds = [[${news}]];
    if (blogEntriesIds && blogEntriesIds.length > 0) {
      blogEntriesIds.forEach(function (blogEntryId) {
        getNewsEntryData(blogEntryId, widgetId);
      });
    }
  });

  var getNewsEntryData = function (id, widgetId) {
    var loader = $("#ajaxLoader_" + id);
    var url = "/blog/entries/" + id + "?widgetId=" + widgetId;
    $.get(url, function (data) {
      $("#ajaxNewsEntry_" + id).html(data);
      $(loader).hide();
    });
  }

  var goToPage = function (pageNumber) {
    var currentUrl = window.location.href;
    var newUrl = updateQueryStringParameter(currentUrl, "p", pageNumber);
    window.location.href = newUrl;
  }

  var updateQueryStringParameter = function (uri, key, value) {
    var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
    var separator = uri.indexOf('?') !== -1 ? "&" : "?";
    if (uri.match(re)) {
      return uri.replace(re, '$1' + key + "=" + value + '$2');
    }
    else {
      return uri + separator + key + "=" + value;
    }
  }

  var search = function () {
    var queryInput = $("#queryInput");
    var queryValue = queryInput.val();
    var widgetName = [[${widgetName}]];
    var currentPage = [[${wrappedNews.currentPageNumber}]];
    reloadWidget(widgetName, currentPage, queryValue);
  }
</script>