.classpath
*.project
.settings/org.eclipse.core.resources.prefs
*.prefs
data/*
target/*
*/target/*
*\target\*
target\*

.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
*.iml
.idea/
.idea\
/.settings/

*.class
*.jar
/target/*
core/association-user-role/target/*
core/eventsListeners/target/*
core/role/target/*
core/user/target/*

core/widget/target/*
modules/socialConfiguration/target/*
core/widget/target/classes/com/cmpl/web/core/widget/WidgetDispatcher.class
*.class
*.class
core/cmpl-web-core-group/target/
core/cmpl-web-core-models/target/
core/cmpl-web-core-association-entity-group/target/
*.lst
core/models/target/
core/responsibility/target/maven-archiver/pom.properties
core/group/target/
core/membership/target/
core/website/target/
core/audit/target/
core/design/target/
