<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet"
        th:href="@{../../../../../webjars/font-awesome/css/font-awesome.min.css}"></link>
  <link rel="stylesheet" th:href="@{../../../webjars/bootstrap/css/bootstrap.min.css}"></link>
  <meta name="viewport" content="width=device-width, user-scalable=no"/>
</head>
<body class="main">
<div class="container-fluid">
  <div class="flex-row ">
    <div class="col-auto d-flex">
      <div class="text-center mt-5">
        <h1 th:text="#{error.404.code}"></h1>
        <h3 class="font-bold" th:utext="#{error.404.title}"></h3>
        <div class="error-desc">
          <p th:utext="#{error.404.content}"></p>
          <a href="/" class="btn btn-primary mt-3">
            <i class="fa fa-home fa-4x"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html> 