<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/back_header"/>
<body class="main">

<div class="container-fluid bg-faded">
  <div th:replace="common/back_navigation"/>
  <div class="d-flex flex-nowrap">

    <div th:replace="common/back_menu"/>

    <div class="col-auto flex-grow-1" id="page-wrapper">
      <div th:replace="common/back_breadcrumb"/>
      <div th:replace="${content}"/>
      <div th:replace="common/back_modals"/>
    </div>
  </div>
</div>
<script type="text/javascript" th:inline="javascript">
  var stompClient = null;
  var currentUser = [['' + ${currentUser.user.login} +'']];
  $(document).ready(function () {
    toggleActiveMenu();
    connect();
  });

  function toggleActiveMenu() {
    $("#menu .nav-item .nav-link").each(function () {
      var that = $(this);
      if (that.hasClass("collapsed") && that.parent().hasClass("active")) {
        that.next(".collapse").collapse("show");
      }
    });
  }

  function connect() {
    var socket = new SockJS('/manager-websocket');
    stompClient = Stomp.over(socket);
    stompClient.debug = null;
    stompClient.connect({login: currentUser}, function (frame) {
      stompClient.subscribe('/notifications', function (data) {
        showNotification('top', 'right', JSON.parse(data.body));
      });
    });
  }

  function showNotification(from, align, notification) {
    var message = notification.content;
    var errors = notification.errors;
    if (errors) {
      displayFeedBack(errors);
    }
    $.notify({
      icon: "notifications",
      message: message

    }, {
      type: notification.type,
      timer: 1000,
      placement: {
        from: from,
        align: align
      }
    });
  }
</script>
</body>
</html>