<form id="groupUpdateForm" th:object="${updateForm}">
  <input type="hidden" th:field="*{id}"/>
  <input type="hidden" th:field="*{creationDate}"/>
  <input type="hidden" th:field="*{creationUser}"/>
  <input type="hidden" th:field="*{modificationDate}"/>
  <input type="hidden" th:field="*{modificationUser}"/>
  <div class="card mb-4">
    <div class="card-body">
      <div class="form-check form-group mb-3" id="formInputName">
        <label th:text="#{group.name.label}"/>
        <input type="text" class="form-control" th:field="*{name}"/>
        <small class="form-text text-muted" th:text="#{group.name.help}"/>
      </div>
      <div class="form-check form-group mb-3" id="formInputDescription">
        <label th:text="#{group.description.label}"/>
        <textarea rows="3" id="description" class="form-control" th:field="*{description}"/>
        <small class="form-text text-muted" th:text="#{group.description.help}"/>
      </div>
    </div>
    <div class="card-footer">
      <div class="float-right">
        <a class="btn btn-md btn-danger collapsed fa fa-times fa-white"
           onclick="cancelUpdateGroup()"
        ></a>
        <a class="btn btn-md btn-success fa fa-check fa-white" onclick="postUpdateGroupForm()"
           th:if="${currentUser.hasPrivilege('administration:groups:write')}"></a>
      </div>
    </div>
  </div>
</form>
<div class="card card-loader">
  <div class="loader">
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    CKEDITOR.replace("description");
    $(".card-loader").hide();
    $(".loader").hide();
  });

</script>