<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/back_header_light"/>
<body>
<div class="container container-fluid login-body">
  <div class="row wrapper align-items-center">
    <div class="col-sm-9 col-md-6 offset-md-3 offset-sm-2">
      <form id="changePasswordForm" th:action="@{/change_password}" method="post">
        <input type="hidden" name="token" id="token" th:value="${token}"/>
        <div class="card">
          <div class="card-header">
            <span th:text="#{change.password.message}"/>
          </div>
          <div class="card-body">
            <div id="errors" class="alert alert-danger">

            </div>
            <div class="form-group mb-3">
              <label th:text="#{change.password.password}"/>
              <input type="password" name="password" id="password" class="form-control"/>
            </div>
            <div class="form-group mb-3">
              <label th:text="#{change.password.confirmation}"/>
              <input type="password" name="confirmation" id="confirmation" class="form-control"/>
            </div>
          </div>
          <div class="card-footer">
            <div class="text-center">
              <button type="submit" class="btn btn-primary">
                <i class="fa fa-white fa-send" aria-hidden="true"></i>
              </button>
            </div>
          </div>

        </div>
      </form>
      <div class="card card-loader">
        <div class="card-header">
          <span th:text="#{change.password.wait}"/>
        </div>
        <div class="card-body">
          <div class="loader">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var postChangePasswordForm = function () {
    $("#changePasswordForm").hide();
    $(".card-loader").show();
    $(".loader").show();
    $("#errors").hide();
    var url = "/change_password";
    var changePasswordForm = {};
    var inputToken = $("#token");
    var inputPassword = $("#password");
    var inputConfirmation = $("#confirmation");
    changePasswordForm.token = inputToken.val();
    changePasswordForm.password = inputPassword.val();
    changePasswordForm.confirmation = inputConfirmation.val();
    var data = JSON.stringify(changePasswordForm);
    $.ajax({
      type: "POST",
      url: url,
      data: data,
      contentType: "application/json; charset=utf-8",
      crossDomain: true,
      dataType: "json",
      success: function (data) {
        window.location.href = "/manager/login";
      },
      error: function (error) {
        if (error.responseJSON && error.responseJSON.errors) {
          var errorContent = "";
          for (index in error.responseJSON.errors) {
            var currentError = error.responseJSON.errors[index];
            errorContent += "<span>" + currentError.defaultMessage + "</span>";
            errorContent += "<br>";
          }
          $("#errors").html(errorContent);
          $("#errors").show();
          $(".card-loader").hide();
          $(".loader").hide();
          $("#changePasswordForm").show();
        }
        window.location.href = "/login";
      }
    });
  }
  $(document).ready(function () {

        $(function () {
          var token = $("meta[name='_csrf']").attr("content");
          var header = $("meta[name='_csrf_header']").attr("content");
          $(document).ajaxSend(function (e, xhr) {
            xhr.setRequestHeader(header, token);
          });
        });

        $("#errors").hide();
        $(".card-loader").hide();
        $(".loader").hide();
        $("#changePasswordForm").submit(function (event) {
          event.preventDefault();
          postChangePasswordForm();
        });
      }
  );
</script>
</body>
</html>