<script type="text/javascript" th:src="@{../../../js/importFacebook.js}"></script>
<form id="facebookImportForm">
  <div class="card">
    <div class="card-header">
      <div class="form-check">
        <label>
          <input type="checkbox" id="importAll" value="" class="form-check-input"/>
          <span th:text="#{import.all}" class="form-check-label"/>
        </label>
      </div>
    </div>
    <div th:if="${feeds}" class="card-body">
      <div class="card mb-3" th:each="feed : ${feeds}">
        <div th:replace="back/posts/importable"/>
      </div>
    </div>
    <div class="card-footer">
      <div class="text-center">
        <a class="btn btn-lg btn-primary fa fa-cloud-download fa-white"
           onclick="postImportFacebook()"></a>
      </div>
    </div>
  </div>
  <div id="stickyImport" class="stickyImport">
    <a class="btn btn-lg btn-primary fa fa-cloud-download fa-white"
       onclick="postImportFacebook()"></a>
  </div>
</form>
<div class="card card-loader">
  <div class="card-header">

  </div>
  <div class="card-body">
    <div class="loader"></div>
  </div>
  <div class="card-footer">

  </div>
</div>
           