<div id="card card-body">
  <form id="connectToFacebook" action="/connect/facebook" method="POST">
    <div class="card">
      <div class="card-header">
        <h3 th:text="#{access.title}"/>
      </div>
      <div class="card-body">
        <input type="hidden" name="scope" value="user_posts"/>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="formInfo">
          <p th:text="#{access.information}"/>
        </div>

      </div>
      <div class="card-footer">
        <div class="text-center">
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-sign-in fa-white" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </form>
  <div class="card card-loader">
    <div class="card-header">
      <span th:text="#{facebook.connection.wait}"/>
    </div>
    <div class="card-body">
      <div class="loader"></div>
    </div>
    <div class="card-footer">

    </div>
  </div>
</div>
           