<div class="card card-body mb-4">
  <div class="row">
    <div class="col-12 text-center">
      <span th:text="#{index.message}"></span>
    </div>
    <div class="col-12 text-center">
      <div class="row">
        <div class="col-sm-12 mb-3 mt-3" th:each="menuItem : ${menuItems}"
             th:if="${currentUser.hasPrivilege(menuItem.privilege)}">
          <a th:href="${menuItem.href}" th:title=" ${menuItem.title}" class="homeMenu"
             th:if="${(menuItem.subMenuItems.size() == 0)}">
            <div class="row">
              <div class="col-12">
                <div class="card card-body">
                  <i th:classappend=" ${menuItem.iconClass}"></i>
                  <span th:text="${menuItem.label}"></span>
                </div>
              </div>
            </div>
          </a>
          <div class="card" th:if="${(menuItem.subMenuItems.size() > 0)}">
            <div class="card-header">
              <span th:text="${menuItem.label}"></span>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12 col-md-6 col-xl-3 mb-3 mt-3"
                     th:each="subMenuItem : ${menuItem.subMenuItems}"
                     th:if="${currentUser.hasPrivilege(subMenuItem.privilege)}">
                  <a th:href="${subMenuItem.href}" th:title=" ${subMenuItem.title}"
                     class="homeMenu">
                    <div class="row">
                      <div class="col-12">
                        <div class="card card-body">
                          <i th:classappend=" ${subMenuItem.iconClass}"></i>
                          <span th:text="${subMenuItem.label}"></span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
