<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/back_header_light"/>
<body>
<div class="container container-fluid login-body">
  <div class="row wrapper align-items-center">
    <div class="col-sm-9 col-md-6 offset-md-3 offset-sm-2">
      <form id="loginForm" th:action="@{/login}" method="post">
        <div class="card">
          <div class="card-header">
            <span th:text="#{login.message}"/>
          </div>
          <div class="card-body">
            <div th:if="${param.error}" class="alert alert-danger">
              <span th:text="#{user.error}"/>
            </div>
            <div th:if="${param.logout}" class="alert alert-warning">
              <span th:text="#{user.logout}"/>
            </div>

            <div class="form-group mb-3">
              <label th:text="#{user.name}"/>
              <input type="text" name="username" class="form-control"/>
            </div>
            <div class="form-group mb-3">
              <label th:text="#{user.password}"/>
              <input type="password" name="password" class="form-control"/>
            </div>
            <div class="form-group mb-3">
              <a href="/forgotten_password">
                <label class="forgotten-password-link" th:text="#{forgotten.password.label}"/>
              </a>
            </div>
          </div>
          <div class="card-footer">
            <div class="text-center">
              <button type="submit" class="btn btn-primary">
                <i class="fa fa-sign-in fa-white" aria-hidden="true"></i>
              </button>
            </div>
          </div>

        </div>
      </form>
      <div class="card card-loader">
        <div class="card-header">
          <span th:text="#{login.wait}"/>
        </div>
        <div class="card-body">
          <div class="loader">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    $(".card-loader").hide();
    $(".loader").hide();
    $("#loginForm").submit(function () {
      $(".card-loader").show();
      $(".loader").show();
      $("#loginForm").hide();
    });
  });
</script>
</body>
</html>