<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" prefix="og: https://ogp.me/ns#">
<head th:include="header"/>
<body class="main">
<div class="container-fluid">
    <div th:replace="${header}">
    </div>
    <div th:replace="${content}">
    </div>
</div>
<footer th:include="${footerTemplate}" class="mt-3"></footer>

<script th:inline="javascript">
    var widgetNames = [[${widgetNames}]];
    widgetNames.forEach(function (widgetName) {
        var widgetDiv = $("#widget_" + widgetName);
        if (widgetDiv) {
            var url = "/widgets/" + widgetName
            $.get(url, function (data) {
                widgetDiv.html(data);
            });
        }
    });

    function reloadWidget(widgetName, pageNumber, query) {
        var widgetDiv = $("#widget_" + widgetName);
        if (widgetDiv) {
            var url = "/widgets/" + widgetName + "?p=" + pageNumber + "&q="
                + query;
            $.get(url, function (data) {
                widgetDiv.html(data);
            });
        }
    }


</script>
</body>

</html>