<script th:if="${systemJquery}" type="text/javascript"
        th:src="@{../../../webjars/jquery/jquery.min.js}"></script>

<script th:if="${systemBootstrap}" type="text/javascript"
        th:src="@{../../../webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

<link th:if="${systemFontAwesome}" rel="stylesheet"
      th:href="@{../../../../webjars/font-awesome/css/font-awesome.min.css}"/>
<link th:if="${systemBootstrap}" rel="stylesheet"
      th:href="@{../../../webjars/bootstrap/css/bootstrap.min.css}"/>
<link rel="stylesheet" th:if="${not #lists.isEmpty(styles)}" th:each="style : ${styles}"
      th:href="@{${style.mediaSrc}}"/>

<meta th:replace="${meta}"/>