<form id="newsEntryEditForm" th:object="${newsImageFormBean}">
  <div class="card">
    <div class="card-body">
      <div class="form-check  mb-3" id="formInputImage">
        <div class="dragndrop">
          <div class="drop_zone">
            <span th:text="#{image.drop.label}"/>
            <br/>
            <label class="btn btn-primary mt-3" id="clickHere">
              <span th:text="#{image.label}"/>
              <i class="fa fa-upload"></i>
              <input type="file" class="form-control-file" name="imageMedia" id="imageMedia"
                     onchange="previewFile()"/>
            </label>
          </div>
        </div>
        <small class="form-text text-muted" th:text="#{image.help}"/>
      </div>
      <div class="mb-3" id="formPreviewImage">
        <img class="img-fluid mx-auto d-block" th:src="${newsImageFormBean.media?.src}"
             id="imagePreview"/>
      </div>
      <div class="form-check mb-3" id="formInputLegend">
        <label th:text="#{legend.label}"/>
        <input type="text" class="form-control" th:field="*{legend}"/>
        <small class="form-text text-muted" th:text="#{legend.help}"/>
      </div>
      <div class="form-check  mb-3" id="formInputAlt">
        <label th:text="#{alt.label}"/>
        <input type="text" class="form-control" th:field="*{alt}"/>
        <small class="form-text text-muted" th:text="#{alt.help}"/>
      </div>
    </div>
    <input type="hidden" id="newsEntryId" name="newsEntryId" th:value="${newsEntryId}"/>
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{creationDate}"/>
    <input type="hidden" th:field="*{modificationDate}"/>
    <input type="hidden" th:field="*{creationUser}"/>
    <input type="hidden" th:field="*{modificationUser}"/>
    <input type="hidden" th:field="*{media.id}"/>

    <div class="card-footer">
      <div class="float-right">
        <a class="btn btn-md btn-danger fa fa-times fa-white"
           onclick="cancelUpdateNewsEntry()"></a>
        <a class="btn btn-md btn-success fa fa-check fa-white"
           onclick="postUpdateNewsImageForm()"
           th:if="${currentUser.hasPrivilege('webmastering:news:write')}"></a>
      </div>
    </div>
  </div>
</form>
<div class="card card-loader">
  <div class="loader">
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
        $(".card-loader").hide();
        $(".loader").hide();
      }
  );
</script>