<form id="newsEntryEditForm" th:object="${newsEntryFormBean}">
  <div class="card">
    <div class="card-body">
      <div class="form-check form-group mb-3" id="formInputTitle">
        <label th:text="#{title.label}"/>
        <input type="text" class="form-control" th:field="*{title}"/>
        <small class="form-text text-muted" th:text="#{title.help}"/>
      </div>
      <div class="form-check form-group mb-3" id="formInputAuthor">
        <label th:text="#{author.label}"/>
        <input type="text" class="form-control" th:field="*{author}"/>
        <small class="form-text text-muted" th:text="#{author.help}"/>
      </div>
      <div class="form-check form-group mb-3" id="formInputTags">
        <label th:text="#{tags.label}"/>
        <input type="text" class="form-control" th:field="*{tags}"/>
        <small class="form-text text-muted" th:text="#{tags.help}"/>
      </div>
      <input type="hidden" th:field="*{id}"/>
      <input type="hidden" th:field="*{creationDate}"/>
      <input type="hidden" th:field="*{creationUser}"/>
      <input type="hidden" th:field="*{modificationDate}"/>
      <input type="hidden" th:field="*{modificationUser}"/>
      <input type="hidden" th:field="*{content.content}"/>
      <input type="hidden" th:field="*{content.id}"/>
      <input type="hidden" th:field="*{content.creationDate}"/>
      <input type="hidden" th:field="*{content.modificationDate}"/>
      <input type="hidden" th:field="*{content.creationUser}"/>
      <input type="hidden" th:field="*{content.modificationUser}"/>
      <input type="hidden" th:field="*{image.id}"/>
      <input type="hidden" th:field="*{image.creationDate}"/>
      <input type="hidden" th:field="*{image.modificationDate}"/>
      <input type="hidden" th:field="*{image.creationUser}"/>
      <input type="hidden" th:field="*{image.modificationUser}"/>
      <input type="hidden" th:field="*{image.media}"/>
      <input type="hidden" th:field="*{image.legend}"/>
      <input type="hidden" th:field="*{image.alt}"/>
      <input type="hidden" th:field="*{image.media.id}"/>
    </div>
    <div class="card-footer">
      <div class="float-right">
        <a class="btn btn-md btn-danger fa fa-times fa-white"
           onclick="cancelUpdateNewsEntry()"></a>
        <a class="btn btn-md btn-success fa fa-check fa-white"
           onclick="postUpdateNewsEntryForm()"
           th:if="${currentUser.hasPrivilege('webmastering:news:write')}"></a>
      </div>
    </div>
  </div>
</form>
<div class="card card-loader">
  <div class="loader">
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
        $(".card-loader").hide();
        $(".loader").hide();
      }
  );
</script>