<script type="text/javascript" th:src="@{../../../webjars/ckeditor/basic/ckeditor.js}"></script>
<script type="text/javascript" th:src="@{../../../js/users.js}"></script>
<div class="card mb-4">
  <div role="tabpanel" class="card-header">
    <ul class="nav nav-tabs card-header-tabs" id="pageTabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="main-tab" data-toggle="tab" href="#" role="tab"
           onclick="goToUserMainTab()">
          <span th:text="#{users.tab.main}"/>
        </a>
      </li>
      <li class="nav-item"
          th:if="${currentUser.hasPrivilege('administration:responsibilities:read')}">
        <a class="nav-link" id="roles-tab" data-toggle="tab" href="#" role="tab"
           onclick="goToRolesTab()">
          <span th:text="#{users.tab.roles}"/>
        </a>
      </li>
      <li class="nav-item" th:if="${currentUser.hasPrivilege('administration:memberships:read')}">
        <a class="nav-link" id="membership-tab" data-toggle="tab" href="#" role="tab"
           onclick="goToMembershipTab()">
          <span th:text="#{tab.membership}"/>
        </a>
      </li>
      <div th:replace="common/back_delete_link :: deleteTab(${'administration:users:delete'})"/>
    </ul>
  </div>
  <div class="tab-content card-body" id="userTabContent">
    <div role="tabpanel" class="tab-pane fade active show" id="ajaxTab">
    </div>
  </div>
</div>
<script th:inline="javascript">

  var currentTab = "";

  var goToRolesTab = function () {
    if (currentTab !== "roles") {
      var url = "/manager/users/" + [['' + ${updateForm.id} +'']] + "/_roles";
      $.get(url, function (data) {
        $("#ajaxTab").html(data);
        currentTab = "roles";
      });
    }
  };

  var goToUserMainTab = function () {
    if (currentTab !== "main") {
      var url = "/manager/users/" + [['' + ${updateForm.id} +'']] + "/_main";
      $.get(url, function (data) {
        $("#ajaxTab").html(data);
        currentTab = "main";
      });
    }
  };

  var goToMembershipTab = function () {
    if (currentTab !== "membership") {
      var url = "/manager/users/" + [['' + ${updateForm.id} +'']] + "/_memberships";
      $.get(url, function (data) {
        $("#ajaxTab").html(data);
        currentTab = "membership";
      });
    }
  };

  $(document).ready(function () {
    goToUserMainTab();

    $("#confirmDelete").click(function () {
      var url = "/manager/users/" + [['' + ${updateForm.id} +'']];
      var urlFallBack = "/manager/users";
      var form = $("#userTabContent");
      var loader = $(".loader");
      var cardLoader = $(".card-loader");
      deleteAndHandleResult(form, loader, cardLoader, url, urlFallBack);
    });
  });

</script>



