<header
    class="top-navigation navbar navbar-light bg-faded row top-nav flex-row justify-content-between align-items-stretch sticky-top">
  <div class="d-flex">
    <button class="btn btn-outline-secondary menu-toggler" type="button" data-toggle="collapse"
            data-target="#menuCollapse"
            aria-controls="menuCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <ul class="navbar-nav flex-row d-flex" id="navigationBar">
    <li class="nav-item p-2 ml-auto">
      <a th:href="${'/manager/logout'}" class="nav-link">
        <i class="fa fa-sign-out">
          <span th:text="#{logout.message}"></span>
        </i>
      </a>
    </li>
    <li class="dropdown nav-item p-2">
      <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">
        <span th:text="#{language.select}"></span>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <a th:each="locale : ${locales}" class="dropdown-item"
           th:href="${'?lang=' + locale.language}">
          <span th:text="${locale.displayLanguage}"></span>
        </a>
      </div>
    </li>
  </ul>
</header>
