<nav class="navbar navbar-light col-auto flex-grow-0 back-menu collapse sticky-top show"
     id="menuCollapse">
  <ul id="menu" class="navbar-nav flex-column">
    <li class="nav-item" th:each="menuItem : ${menuItems}"
        th:classappend="${menuItem.customCssClass}"
        th:if="${currentUser.hasPrivilege(menuItem.privilege)}">
      <a th:if="${(menuItem.subMenuItems.size() > 0)}"
         class="nav-link collapsed"
         data-toggle="collapse"
         th:title="${menuItem.title}"
         th:href="${'#menu_' + menuItem.title}"
      >
        <i th:classappend="${menuItem.iconClass}"></i>
        <span th:text="${menuItem.label}"></span>
        <i class="fa fa-angle-up"></i>
      </a>
      <div th:if="${(menuItem.subMenuItems.size() > 0)}" class="collapse"
           th:id="${'menu_' + menuItem.title}">
        <ul class="navbar-nav flex-column">
          <li class="nav-item" th:each="subMenuItem : ${menuItem.subMenuItems}"
              th:classappend="${subMenuItem.customCssClass}"
              th:if="${currentUser.hasPrivilege(subMenuItem.privilege)}">
            <a class=" nav-link
          " th:title="${subMenuItem.title}" th:href="${subMenuItem.href}">
              <i th:classappend="${subMenuItem.iconClass}"></i>
              <span th:text="${subMenuItem.label}"></span>
            </a>
          </li>
        </ul>
      </div>
      <a class="nav-link"
         th:if="${!(menuItem.subMenuItems.size() > 0)}"
         th:title="${menuItem.title}"
         th:href="${menuItem.href}"
      >
        <i th:classappend="${menuItem.iconClass}"></i>
        <span th:text="${menuItem.label}"></span>
      </a>
      <hr/>
    </li>
  </ul>

</nav>

