<div th:fragment="pagination(wrapper)">
  <div class="text-center mb-3">
    <span th:text="${wrapper.pageLabel}"/>
  </div>
  <nav>
    <ul class="pagination justify-content-center">
      <li class="page-item" th:classappend="${wrapper.firstPage}  ? disabled : ''">
        <a class="page-link"
           th:href="${wrapper.pageBaseUrl + '?p=0'}"
        >
          <i class="fa fa-arrow-left"></i>
        </a>
      </li>
      <li class="page-item"
          th:each="pageNumber : ${#numbers.sequence(1,wrapper.totalPages)}"
          th:classappend="${wrapper.currentPageNumber == pageNumber - 1} ? disabled : ''">
        <a class="page-link"
           th:href="${wrapper.pageBaseUrl + '?p=' +  (pageNumber - 1)}"
        >
          <span th:text="${pageNumber}"/>
        </a>
      </li>
      <li class="page-item" th:classappend="${wrapper.lastPage} ? disabled : ''">
        <a class="page-link"
           th:href="${wrapper.pageBaseUrl + '?p=' + (wrapper.currentPageNumber + 1)}"
        >
          <i class="fa fa-arrow-right"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>