<div class="card mb-4">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="pull-right ">
          <a class="btn btn-md btn-primary fa fa-plus fa-white"
             th:href="@{ ${wrappedEntities.createItemLink}}"
             id="buttonAdd"
             th:if="${currentUser.hasPrivilege(wrappedEntities.createItemPrivilege)}"></a>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <table class="table table-bordered table-hover">
        <tbody>
        <tr th:each="bean : ${wrappedEntities.page.content}">
          <td>
            <a th:href="${wrappedEntities.itemLink + bean.id}" class="table-link"
               th:switch="${bean.class.name}">

              <div class="full-width" th:case="${'com.cmpl.web.core.user.UserDTO'}"
                   th:text="${bean.login}"/>
              <div class="full-width" th:case="${'com.cmpl.web.core.menu.MenuDTO'}"
                   th:text="${bean.title}"/>
              <div class="full-width" th:case="${'com.cmpl.web.core.news.NewsEntryDTO'}">
                <span th:text="${bean.title}"/>
                <span th:text="#{news.entry.by}"/>
                <span th:text="${bean.author}"/>
                <span th:text="#{news.entry.the}"/>
                <span
                    th:text="${#temporals.format(bean.creationDate, 'dd/MM/yy')}"/>
                <span th:text="#{news.entry.at}"/>
                <span
                    th:text="${#temporals.format(bean.creationDate, 'HH:mm')}"/>
              </div>
              <div class="full-width"
                   th:case="*"
                   th:text="${bean.name}"/>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div th:replace="common/back_pagination :: pagination(${wrappedEntities})"/>
  </div>
</div>
