<div class="card card-body mb-4">
  <form id="styleViewForm" th:object="${updateForm}">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{name}"/>
    <input type="hidden" th:field="*{creationDate}"/>
    <input type="hidden" th:field="*{creationUser}"/>
    <input type="hidden" th:field="*{modificationDate}"/>
    <input type="hidden" th:field="*{modificationUser}"/>
    <input type="hidden" th:field="*{mediaName}"/>
    <input type="hidden" th:field="*{mediaId}"/>
    <div class="form-check form-group mb-3" id="formInputContent">
      <label th:text="#{style.content.label}"/>
      <textarea rows="3" id="styleContent" class="form-control" th:field="*{content}"/>
      <small class="form-text text-muted" th:text="#{style.content.help}"/>
    </div>
    <div class="float-right">
      <a class="btn btn-md btn-success fa fa-check fa-white" onclick="postUpdateStyleForm()"></a>
    </div>
  </form>
</div>
<script th:inline="javascript">
  var codeMirrorStyleContent;
  $(document).ready(function () {
    codeMirrorStyleContent = setUpCodeMirror("styleContent");
    fix_code_mirror_height();
  });

  var setUpCodeMirror = function (textAreaId) {
    var codeMirror = CodeMirror.fromTextArea(document.getElementById(textAreaId),
        {
          theme: "neo",
          lineNumbers: true,
          readOnly: false,
          lineWrapping: true,
          extraKeys: {
            "F11": function (cm) {
              cm.setOption("fullScreen", !cm.getOption("fullScreen"));
            },
            "Esc": function (cm) {
              if (cm.getOption("fullScreen")) {
                cm.setOption("fullScreen", false);
              }
            },
            "Ctrl-Space": "autocomplete"
          }
        });
    return codeMirror;
  }
</script>