<script type="text/javascript" th:src="@{../../../webjars/ckeditor/basic/ckeditor.js}"></script>
<script type="text/javascript" th:src="@{../../../js/roles.js}"></script>
<div class="card mb-4">
  <div role="tabpanel" class="card-header">
    <ul class="nav nav-tabs card-header-tabs" id="roleTabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="main-tab" data-toggle="tab" href="#" role="tab"
           onclick="goToRoleMainTab()">
          <span th:text="#{roles.tab.main}"/>
        </a>
      </li>
      <li class="nav-item"
          th:if="${currentUser.hasPrivilege('administration:roles-privileges:read')}">
        <a class=" nav-link" id="body-tab" data-toggle="tab" href="#" role="tab"
           onclick="goToPrivilegesTab()">
          <span th:text="#{roles.tab.privileges}"/>
        </a>
      </li>
      <li class="nav-item" th:if="${currentUser.hasPrivilege('administration:memberships:read')}">
        <a class="nav-link" id="membership-tab" data-toggle="tab" href="#" role="tab"
           onclick="goToMembershipTab()">
          <span th:text="#{tab.membership}"/>
        </a>
      </li>
      <div th:replace="common/back_delete_link :: deleteTab(${'administration:roles:delete'})"/>
    </ul>
  </div>
  <div class="tab-content card-body" id="roleTabContent">
    <div role="tabpanel" class="tab-pane fade active show" id="ajaxTab">
    </div>
  </div>
</div>
<script th:inline="javascript">

  var currentTab = "";

  var goToPrivilegesTab = function () {
    if (currentTab !== "privileges") {
      var url = "/manager/roles/" + [['' + ${updateForm.id} +'']] + "/_privileges";
      $.get(url, function (data) {
        $("#ajaxTab").html(data);
        currentTab = "privileges";
      });
    }
  };

  var goToRoleMainTab = function () {
    if (currentTab !== "main") {
      var url = "/manager/roles/" + [['' + ${updateForm.id} +'']] + "/_main";
      $.get(url, function (data) {
        $("#ajaxTab").html(data);
        currentTab = "main";
      });
    }
  };

  var goToMembershipTab = function () {
    if (currentTab !== "membership") {
      var url = "/manager/roles/" + [['' + ${updateForm.id} +'']] + "/_memberships";
      $.get(url, function (data) {
        $("#ajaxTab").html(data);
        currentTab = "membership";
      });
    }
  };

  $(document).ready(function () {
    goToRoleMainTab();

    $("#confirmDelete").click(function () {
      var url = "/manager/roles/" + [['' + ${updateForm.id} +'']];
      var urlFallBack = "/manager/roles";
      var form = $("#roleTabContent");
      var loader = $(".loader");
      var cardLoader = $(".card-loader");
      deleteAndHandleResult(form, loader, cardLoader, url, urlFallBack);
    });
  });

</script>



