<label th:text="#{user.roles.to.link}"/>
<form id="roleAssociationForm" th:object="${createForm}" class="row">
  <div class="mb-3 col-12">
    <input type="hidden" th:field="*{userId}"/>
    <div id="linkableRoles">
    </div>
  </div>
</form>
<hr>
<label th:text="#{user.roles.linked}"/>
<div id="linkedRoles">
</div>
<script th:inline="javascript">
  $(document).ready(function () {
    var urlLinkedRoles = "/manager/users/" + [['' + ${createForm.userId} +'']]
        + "/_linked_roles?q=";
    var urlLinkableRoles = "/manager/users/" + [['' + ${createForm.userId} +'']]
        + "/_linkable_roles?q=";
    $.get(urlLinkedRoles, function (data) {
      $("#linkedRoles").html(data);
    });
    $.get(urlLinkableRoles, function (data) {
      $("#linkableRoles").html(data);
    });
    $(".card-loader").hide();
    $(".loader").hide();

  });
  var deleteAssociatedRole = function (idAssociatedRole) {

    var inputUserId = $("#userId");
    var userId = inputUserId.val();

    $("#roleAssociationForm").hide();
    $("#associatedRoles").hide();
    $(".loader").show();
    var url = "/manager/responsibilities/" + userId + "/" + idAssociatedRole;
    $.ajax({
      url: url,
      type: "DELETE",
      success: function () {
        currentTab = "";
        $(".loader").hide();
        goToRolesTab();
      },
      error: function () {
        currentTab = "";
        $(".loader").hide();
        goToRolesTab();

      }

    });
  }

  var postCreateResponsibilityForm = function () {
    $("#roleAssociationForm").hide();
    $("#associatedRoles").hide();
    $(".loader").show();
    var url = "/manager/responsibilities";

    var associatedRoleForm = {};
    var inputUserId = $("#userId");
    var inputRoleId = $("#roleId");

    associatedRoleForm.userId = inputUserId.val();
    associatedRoleForm.roleId = inputRoleId.val();

    var data = JSON.stringify(associatedRoleForm);
    $.ajax({
      type: "POST",
      url: url,
      data: data,
      contentType: "application/json; charset=utf-8",
      crossDomain: true,
      dataType: "json",
      success: function (data) {
        currentTab = "";
        goToRolesTab();
        $(".loader").hide();
      },
      error: function () {
        currentTab = "";
        goToRolesTab();
        $(".loader").hide();
      }
    });
  }

  var searchLinkableRoles = function () {
    var queryInput = $("#linkableQueryInput");
    var urlLinkableRoles = "/manager/users/" + [['' + ${createForm.userId} +'']]
        + "/_linkable_roles?q=" + queryInput.val();

    searchRoles($("#linkableRoles"), urlLinkableRoles);
  }

  var searchLinkedRoles = function () {
    var queryInput = $("#linkableQueryInput");
    var urlLinkedRoles = "/manager/users/" + [['' + ${createForm.userId} +'']]
        + "/_linked_roles?q=" + queryInput.val();

    searchRoles($("#linkedRoles"), urlLinkedRoles);
  }

  var searchRoles = function (table, url) {
    table.hide();
    $(".card-loader").show();
    $(".loader").show();

    $.get(url, function (data) {
      table.html(data);
      table.show();
      $(".card-loader").hide();
      $(".loader").hide();
    });
  }

</script>