<form id="userUpdateForm" th:object="${updateForm}">
  <input type="hidden" th:field="*{id}"/>
  <input type="hidden" th:field="*{creationDate}"/>
  <input type="hidden" th:field="*{creationUser}"/>
  <input type="hidden" th:field="*{modificationDate}"/>
  <input type="hidden" th:field="*{modificationUser}"/>
  <div class="card mb-4">
    <div class="card-body">
      <div class="form-check form-group mb-3" id="formInputLogin">
        <label th:text="#{user.login.label}"/>
        <input type="text" class="form-control" th:field="*{login}"/>
        <small class="form-text text-muted" th:text="#{user.login.help}"/>
      </div>
      <div class="form-check form-group mb-3" id="formInputEmail">
        <label th:text="#{user.email.label}"/>
        <input type="email" class="form-control" th:field="*{email}"/>
        <small class="form-text text-muted" th:text="#{user.email.help}"/>
      </div>
      <div class="form-check form-group mb-3" id="formInputDescription">
        <label th:text="#{user.description.label}"/>
        <textarea rows="3" id="description" class="form-control" th:field="*{description}"/>
        <small class="form-text text-muted" th:text="#{user.description.help}"/>
      </div>
      <div class="form-check form-group mb-3" id="formInputLastConnection">
        <label th:text="#{user.lastConnection.label}"/>
        <input type="hidden" th:field="*{lastConnection}"/>
        <label class="form-control">
          <span th:text="#{user.the}"/>
          <span
              th:text="${#temporals.format(updateForm.lastConnection, 'dd/MM/yy')}"/>
          <span th:text="#{user.at}"/>
          <span
              th:text="${#temporals.format(updateForm.lastConnection, 'HH:mm')}"/>
        </label>
        <small class="form-text text-muted" th:text="#{user.lastConnection.help}"/>
      </div>
    </div>
    <div class="card-footer">
      <div class="float-right">
        <a class="btn btn-md btn-danger collapsed fa fa-times fa-white"
           onclick="cancelUpdateUser()"
        ></a>
        <a class="btn btn-md btn-success fa fa-check fa-white" onclick="postUpdateUserForm()"
           th:if="${currentUser.hasPrivilege('administration:users:write')}"></a>
      </div>
    </div>
  </div>
</form>
<div class="card card-loader">
  <div class="loader">
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    CKEDITOR.replace("description");
    $(".card-loader").hide();
    $(".loader").hide();
  });

</script>