# <user>=<password>,<role1>,<role2>

test=test,ROLE_USER, ROLE_APP_HENKILONHALLINTA_OPHREKISTERI, ROLE_APP_HENKILONHALLINTA_OPHREKISTERI_1.2.246.562.10.00000000001, ROLE_APP_ANOMUSTENHALLINTA_CRUD, ROLE_APP_ANOMUSTENHALLINTA_READ_UPDATE, ROLE_APP_ANOMUSTENHALLINTA_CRUD_1.2.246.562.10.00000000001, ROLE_APP_ANOMUSTENHALLINTA_READ_UPDATE_1.2.246.562.10.00000000001, ROLE_APP_HENKILONHALLINTA_CRUD, ROLE_APP_HENKILONHALLINTA_CRUD_1.2.246.562.10.00000000001
test2=test2,ROLE_USER, ROLE_APP_HENKILONHALLINTA_OPHREKISTERI, ROLE_APP_HENKILONHALLINTA_OPHREKISTERI_1.2.246.562.10.00000000001, ROLE_APP_ANOMUSTENHALLINTA_CRUD, ROLE_APP_ANOMUSTENHALLINTA_READ_UPDATE, ROLE_APP_ANOMUSTENHALLINTA_CRUD_1.2.246.562.10.00000000001, ROLE_APP_ANOMUSTENHALLINTA_READ_UPDATE_1.2.246.562.10.00000000001, ROLE_APP_HENKILONHALLINTA_CRUD, ROLE_APP_HENKILONHALLINTA_CRUD_1.2.246.562.10.00000000001
test3=test3,ROLE_USER, ROLE_APP_HENKILONHALLINTA_READ

superuser=superuser,ROLE_APP_VALINTAPERUSTEET, \
                    ROLE_APP_VALINTAPERUSTEET_CRUD, \
                    ROLE_APP_VALINTAPERUSTEET_CRUD_1.2.246.562.10.00000000001, \
                    ROLE_APP_VALINTAPERUSTEET_READ, \
                    ROLE_APP_VALINTAPERUSTEET_READ_1.2.246.562.10.00000000001, \
                    ROLE_APP_VALINTAPERUSTEET_READ_UPDATE, \
                    ROLE_APP_VALINTAPERUSTEET_READ_UPDATE_1.2.246.562.10.00000000001, \
                    ROLE_APP_VALINTOJENTOTEUTTAMINEN, \
                    ROLE_APP_VALINTOJENTOTEUTTAMINEN_CRUD, \
                    ROLE_APP_VALINTOJENTOTEUTTAMINEN_CRUD_1.2.246.562.10.00000000001, \
                    ROLE_APP_VALINTOJENTOTEUTTAMINEN_READ, \
                    ROLE_APP_VALINTOJENTOTEUTTAMINEN_READ_1.2.246.562.10.00000000001, \
                    ROLE_APP_VALINTOJENTOTEUTTAMINEN_READ_UPDATE, \
                    ROLE_APP_VALINTOJENTOTEUTTAMINEN_READ_UPDATE_1.2.246.562.10.00000000001, \
                    ROLE_APP_ANOMUSTENHALLINTA, \
                    ROLE_APP_ANOMUSTENHALLINTA_CRUD, \
                    ROLE_APP_ANOMUSTENHALLINTA_CRUD_1.2.246.562.10.00000000001, \
                    ROLE_APP_ANOMUSTENHALLINTA_READ, \
                    ROLE_APP_ANOMUSTENHALLINTA_READ_1.2.246.562.10.00000000001, \
                    ROLE_APP_ANOMUSTENHALLINTA_READ_UPDATE, \
                    ROLE_APP_ANOMUSTENHALLINTA_READ_UPDATE_1.2.246.562.10.00000000001, \
                    ROLE_APP_ANOMUSTENHALLINTA_OPHREKISTERI, \
                    ROLE_APP_HENKILONHALLINTA, \
                    ROLE_APP_HENKILONHALLINTA_CRUD, \
                    ROLE_APP_HENKILONHALLINTA_CRUD_1.2.246.562.10.00000000001, \
                    ROLE_APP_HENKILONHALLINTA_READ, \
                    ROLE_APP_HENKILONHALLINTA_READ_1.2.246.562.10.00000000001, \
                    ROLE_APP_HENKILONHALLINTA_READ_UPDATE, \
                    ROLE_APP_HENKILONHALLINTA_READ_UPDATE_1.2.246.562.10.00000000001, \
                    ROLE_APP_KOODISTO, \
                    ROLE_APP_KOODISTO_CRUD, \
                    ROLE_APP_KOODISTO_CRUD_1.2.246.562.10.00000000001, \
                    ROLE_APP_KOODISTO_READ, \
                    ROLE_APP_KOODISTO_READ_1.2.246.562.10.00000000001, \
                    ROLE_APP_KOODISTO_READ_UPDATE, \
                    ROLE_APP_KOODISTO_READ_UPDATE_1.2.246.562.10.00000000001, \
                    ROLE_APP_KOOSTEROOLIENHALLINTA, \
                    ROLE_APP_KOOSTEROOLIENHALLINTA_CRUD, \
                    ROLE_APP_KOOSTEROOLIENHALLINTA_CRUD_1.2.246.562.10.00000000001, \
                    ROLE_APP_KOOSTEROOLIENHALLINTA_READ, \
                    ROLE_APP_KOOSTEROOLIENHALLINTA_READ_1.2.246.562.10.00000000001, \
                    ROLE_APP_KOOSTEROOLIENHALLINTA_READ_UPDATE, \
                    ROLE_APP_KOOSTEROOLIENHALLINTA_READ_UPDATE_1.2.246.562.10.00000000001, \
                    ROLE_APP_OID, \
                    ROLE_APP_OID_CRUD, \
                    ROLE_APP_OID_CRUD_1.2.246.562.10.00000000001, \
                    ROLE_APP_OID_READ, \
                    ROLE_APP_OID_READ_1.2.246.562.10.00000000001, \
                    ROLE_APP_OID_READ_UPDATE, \
                    ROLE_APP_OID_READ_UPDATE_1.2.246.562.10.00000000001, \
                    ROLE_APP_OMATTIEDOT, \
                    ROLE_APP_OMATTIEDOT_CRUD, \
                    ROLE_APP_OMATTIEDOT_CRUD_1.2.246.562.10.00000000001, \
                    ROLE_APP_OMATTIEDOT_READ, \
                    ROLE_APP_OMATTIEDOT_READ_1.2.246.562.10.00000000001, \
                    ROLE_APP_OMATTIEDOT_READ_UPDATE, \
                    ROLE_APP_OMATTIEDOT_READ_UPDATE_1.2.246.562.10.00000000001, \
                    ROLE_APP_ORGANISAATIOHALLINTA, \
                    ROLE_APP_ORGANISAATIOHALLINTA_CRUD, \
                    ROLE_APP_ORGANISAATIOHALLINTA_CRUD_1.2.246.562.10.00000000001, \
                    ROLE_APP_ORGANISAATIOHALLINTA_READ, \
                    ROLE_APP_ORGANISAATIOHALLINTA_READ_1.2.246.562.10.00000000001, \
                    ROLE_APP_ORGANISAATIOHALLINTA_READ_UPDATE, \
                    ROLE_APP_ORGANISAATIOHALLINTA_READ_UPDATE_1.2.246.562.10.00000000001, \
                    ROLE_APP_TARJONTA, \
                    ROLE_APP_TARJONTA_CRUD, \
                    ROLE_APP_TARJONTA_CRUD_1.2.246.562.10.00000000001, \
                    ROLE_VIRKAILIJA, \
                    ROLE_APP_HAKUJENHALLINTA_CRUD, \
                    ROLE_APP_HAKUJENHALLINTA_CRUD_1.2.246.562.10.00000000001, \
                    ROLE_APP_VALINTAPERUSTEKUVAUSTENHALLINTA_CRUD, \
                    ROLE_APP_VALINTAPERUSTEKUVAUSTENHALLINTA_CRUD_1.2.246.562.10.00000000001, \
                    ROLE_APP_VALINTAPERUSTEKUVAUSTENHALLINTA_KK_CRUD