<form id="carouselEditForm" th:object="${updateForm}">
  <div class="card">
    <div class="card-body">
      <div class="form-check form-group mb-3" id="formInputName">
        <label th:text="#{carousel.name.label}"/>
        <input type="text" class="form-control" th:field="*{name}"/>
        <small class="form-text text-muted" th:text="#{carousel.name.help}"/>
      </div>
      <input type="hidden" th:field="*{id}"/>
      <input type="hidden" th:field="*{creationDate}"/>
      <input type="hidden" th:field="*{creationUser}"/>
      <input type="hidden" th:field="*{modificationDate}"/>
      <input type="hidden" th:field="*{modificationUser}"/>
    </div>
    <div class="card-footer">
      <div class="float-right">
        <a class="btn btn-md btn-danger fa fa-times fa-white" onclick="cancelUpdateCarousel()"></a>
        <a class="btn btn-md btn-success fa fa-check fa-white"
           onclick="postUpdateCarouselForm()"
           th:if="${currentUser.hasPrivilege('webmastering:carousels:write')}"></a>
      </div>
    </div>
  </div>
</form>
<div class="card card-loader">
  <div class="loader">
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
        $(".card-loader").hide();
        $(".loader").hide();
      }
  );
</script>