<form id="carouselItemForm" th:object="${createForm}" class="row">
  <div class="mb-3 col-12">
    <div class="form-check form-group mb-3" id="formInputOrderInCarousel">
      <label th:text="#{carousel.item.order.label}"/>
      <input type="number" class="form-control" th:field="*{orderInCarousel}" min="1" step="1"/>
      <small class="form-text text-muted" th:text="#{carousel.item.order.help}"/>
    </div>
    <div class="form-check form-group mb-3" id="formInputContent">
      <label th:text="#{carousel.item.media.label}"/>
      <select th:field="*{mediaId}" class="form-control mediaSelect">
      </select>
      <small class="form-text text-muted" th:text="#{carousel.item.media.help}"/>
    </div>
    <div class="float-right">
      <a class="btn btn-md btn-success fa fa-plus fa-white"
         onclick="postCreateCarouselItemForm()"
         th:if="${currentUser.hasPrivilege('webmastering:carousels-items:write')}"></a>
    </div>
  </div>
  <input type="hidden" th:field="*{carouselId}"/>
</form>
<div class="row mt-3" id="associatedItems">
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th scope="col">
        <label th:text="#{carousel.item.order.label}"/>
      </th>
      <th scope="col" colspan="2">
        <label th:text="#{carousel.item.media.label}"/>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="carouselItem : ${items}">
      <td>
        <input type="text" class="form-control" th:value="${carouselItem.orderInCarousel}"
               disabled="true"/>
      </td>
      <td>
        <input type="text" class="form-control" th:value="${carouselItem.media.name}"
               disabled="true"/>
      </td>
      <td class="text-center">
        <a class="btn btn-md btn-danger fa fa-times fa-white" th:id="${carouselItem.id}"
           onclick="deleteCarouselItem(this.id)"
           th:if="${currentUser.hasPrivilege('webmastering:carousels-items:delete')}"></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</div>
<div class="card card-loader">
  <div class="loader">
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    $(".card-loader").hide();
    $(".loader").hide();

    $('.mediaSelect').select2({
      language: "[[ ${currentLocale.language} ]]",
      ajax: {
        url: "/manager/medias/ajaxSearch",
        dataType: "json",
        data: function (params) {
          return {
            q: params.term,
            page: 0
          };
        },
        minimumInputLength: 2,
        processResults: function (data, params) {
          params.page = params.page || 1;

          var result = $.map(data.content, function (obj) {
            obj.text = obj.name;
            return obj;
          });
          return {
            results: result
          };
        },
      }
    });

  });

  function deleteCarouselItem(idCarouselItem) {

    $("#carouselItemForm").hide();
    $("#associatedItems").hide();
    $(".loader").show();
    var url = "/manager/carousels/" + [['' + ${createForm.carouselId} +'']] + "/items/"
        + idCarouselItem;
    $.ajax({
      url: url,
      type: "DELETE",
      success: function () {
        currentTab = "";
        $(".loader").hide();
        goToItemsTab();
      },
      error: function () {
        currentTab = "";
        $(".loader").hide();
        goToItemsTab();

      }

    });
  }

  function postCreateCarouselItemForm() {
    $("#carouselItemForm").hide();
    $("#associatedItems").hide();
    $(".loader").show();
    var url = "/manager/carousels/" + [['' + ${createForm.carouselId} +'']] + "/items";

    var carouselItemForm = {};
    var inputOrderInCarousel = $("#orderInCarousel");
    var inputMediaId = $("#mediaId");
    var inputCarouselId = $("#carouselId");

    carouselItemForm.orderInCarousel = inputOrderInCarousel.val();
    carouselItemForm.mediaId = inputMediaId.val();
    carouselItemForm.carouselId = inputCarouselId.val();

    var data = JSON.stringify(carouselItemForm);
    $.ajax({
      type: "POST",
      url: url,
      data: data,
      contentType: "application/json; charset=utf-8",
      crossDomain: true,
      dataType: "json",
      success: function (data) {
        currentTab = "";
        goToItemsTab();
        $(".loader").hide();
      },
      error: function () {
        currentTab = "";
        goToItemsTab();
        $(".loader").hide();
      }
    });
  }
</script>
<script th:inline="javascript">

</script>