<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title th:text="#{activation.subject}"></title>
  <link th:href="${basePath +'/css/mail.css'}" media="all" rel="stylesheet" type="text/css">
</head>

<body>

<table class="body-wrap">
  <tbody>
  <tr>
    <td></td>
    <td class="container" width="600">
      <div class="content">
        <table class="main" width="100%" cellpadding="0" cellspacing="0">
          <tbody>
          <tr>
            <td class="content-wrap">
              <table cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                  <td class="content-block">
                    <h3>
                      <span th:text="#{change.password.title}"></span>
                      <span th:text="${user.login}"></span>
                    </h3>
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                    <span th:text="#{change.password.content}"></span>
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                    <span th:text="#{activation.login}"></span> <b th:text="${user.login}"></b>
                  </td>
                </tr>
                <tr>
                  <td class="content-block aligncenter">
                    <a th:href="${basePath + '/change_password?token='} + ${token}"
                       class="btn-primary">
                      <span th:text="#{change.action}"></span>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="footer">
          <table width="100%">
            <tbody>
            <tr>
              <td class="aligncenter content-block">Webcontent management &copy;</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </td>
    <td></td>
  </tr>
  </tbody>
</table>
</body>
</html>