<script type="text/javascript" th:src="@{../../../webjars/ckeditor/basic/ckeditor.js}"></script>
<script type="text/javascript" th:src="@{../../../js/dragAndDrop.js}"></script>
<script type="text/javascript" th:src="@{../../../js/news.js}"></script>
<form id="newsEntryCreateForm" th:object="${newsFormBean}">
  <div class="card mb-4">
    <div class="card-body">
      <div class="form-check form-group mb-3" id="formInputTitle">
        <label th:text="#{title.label}"/>
        <input type="text" class="form-control" th:field="*{title}"/>
        <small class="form-text text-muted" th:text="#{title.help}"/>
      </div>
      <div class="form-check form-group mb-3" id="formInputAuthor">
        <label th:text="#{author.label}"/>
        <input type="text" class="form-control" th:field="*{author}"/>
        <small class="form-text text-muted" th:text="#{author.help}"/>
      </div>
      <div class="form-check form-group mb-3" id="formInputTags">
        <label th:text="#{tags.label}"/>
        <input type="text" class="form-control" th:field="*{tags}"/>
        <small class="form-text text-muted" th:text="#{tags.help}"/>
      </div>
      <div class="form-check form-group mb-3" id="formInputContent">
        <label th:text="#{content.label}"/>
        <textarea rows="3" id="newsContent" class="form-control" th:field="*{content.content}"/>
        <small class="form-text text-muted" th:text="#{content.help}"/>
      </div>
      <div class="form-check form-group mb-3" id="formInputImage">
        <div class="dragndrop">
          <div class="drop_zone">
            <span th:text="#{image.drop.label}"/>
            <br/>
            <label class="btn btn-primary mt-3" id="clickHere">
              <span th:text="#{image.label}"/>
              <i class="fa fa-upload"></i>
              <input type="file" class="form-control-file" name="imageMedia" id="imageMedia"
                     onchange="previewFile()"/>
            </label>
          </div>
        </div>
        <small class="form-text text-muted" th:text="#{image.help}"/>
      </div>
      <div class="mb-3" id="formPreviewImage">
        <img class="img-fluid mx-auto d-block" src="" id="imagePreview"/>
      </div>
      <div class="form-check form-group mb-3" id="formInputLegend">
        <label th:text="#{legend.label}"/>
        <input type="text" class="form-control" th:field="*{image.legend}"/>
        <small class="form-text text-muted" th:text="#{legend.help}"/>
      </div>
      <div class="form-check form-group mb-3" id="formInputAlt">
        <label th:text="#{alt.label}"/>
        <input type="text" class="form-control" th:field="*{image.alt}"/>
        <small class="form-text text-muted" th:text="#{alt.help}"/>
      </div>
    </div>
    <div class="card-footer">
      <div class="float-right">
        <a class="btn btn-md btn-danger collapsed fa fa-times fa-white"
           href="/manager/news"
        ></a>
        <a class="btn btn-md btn-success fa fa-check fa-white" onclick="postCreateNewsForm()"
           th:if="${currentUser.hasPrivilege('webmastering:news:create')}"></a>
      </div>
    </div>
  </div>
</form>
</form>
<div class="card card-loader">
  <div class="loader">
  </div>
</div>
<script type="text/javascript">

  $(document).ready(function () {
    CKEDITOR.replace("newsContent");
    setUpDragAndDrop("#imageMedia");
  });

</script>
