<script type="text/javascript" th:src="@{../../../webjars/ckeditor/basic/ckeditor.js}"></script>
<script type="text/javascript" th:src="@{../../../js/dragAndDrop.js}"></script>
<script type="text/javascript" th:src="@{../../../js/news.js}"></script>
<div class="card mb-4">
  <div role="tabpanel" class="card-header">
    <ul class="nav nav-tabs card-header-tabs" id="newsTabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="main-tab" data-toggle="tab" href="#" role="tab"
           onclick="goToNewsMainTab()">
          <span th:text="#{news.tab.main}"/>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="content-tab" data-toggle="tab" href="#" role="tab"
           onclick="goToContentTab()">
          <span th:text="#{news.tab.content}"/>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="image-tab" data-toggle="tab" href="#" role="tab"
           onclick="goToImageTab()">
          <span th:text="#{news.tab.image}"/>
        </a>
      </li>
      <li class="nav-item" th:if="${currentUser.hasPrivilege('administration:memberships:read')}">
        <a class="nav-link" id="membership-tab" data-toggle="tab" href="#" role="tab"
           onclick="goToMembershipTab()">
          <span th:text="#{tab.membership}"/>
        </a>
      </li>
      <div th:replace="common/back_delete_link :: deleteTab(${'webmastering:news:delete'})"/>
    </ul>
  </div>
  <div class="tab-content card-body" id="newsTabContent">
    <div role="tabpanel" class="tab-pane fade active show" id="ajaxTab">
    </div>
  </div>
</div>
<div class="card card-loader">
  <div class="loader">
  </div>
</div>
<script th:inline="javascript">
  var currentTab = "";
  var goToNewsMainTab = function () {
    if (currentTab !== "main") {
      var url = "/manager/news/" + [['' + ${updateForm.id} +'']] + "/_main";
      $.get(url, function (data) {
        $("#ajaxTab").html(data);
        currentTab = "main";
      });
    }
  };
  var goToContentTab = function () {
    if (currentTab !== "content") {
      var url = "/manager/news/" + [['' + ${updateForm.id} +'']] + "/_content";
      $.get(url, function (data) {
        $("#ajaxTab").html(data);
        currentTab = "content";
        CKEDITOR.replace("newsContent");
      });
    }
  };

  var goToImageTab = function () {
    if (currentTab !== "image") {
      var url = "/manager/news/" + [['' + ${updateForm.id} +'']] + "/_image";
      $.get(url, function (data) {
        $("#ajaxTab").html(data);
        currentTab = "image";
        setUpDragAndDrop("#imageMedia");
      });
    }
  };

  var goToMembershipTab = function () {
    if (currentTab !== "membership") {
      var url = "/manager/news/" + [['' + ${updateForm.id} +'']] + "/_memberships";
      $.get(url, function (data) {
        $("#ajaxTab").html(data);
        currentTab = "membership";
      });
    }
  };

  $(document).ready(function () {
    goToNewsMainTab();
    $("#confirmDelete").click(function () {
      var url = "/manager/news/" + [['' + ${updateForm.id} +'']];
      var urlFallBack = "/manager/news";
      var form = $("#newsTabContent");
      var loader = $(".loader");
      var cardLoader = $(".card-loader");
      deleteAndHandleResult(form, loader, cardLoader, url, urlFallBack);
    });
  });
</script>

           
