<div class="row">
  <div class="col-6">
    <div class="form-inline">
      <div>
        <span th:text="${mediaBean.name}"/>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="preview">
      <img class="img-fluid mx-auto d-block" th:src="@{${mediaBean.src}}"></img>
    </div>
  </div>
  <div class="col-12">
    <div class="form-inline">
      <a th:href="@{${mediaBean.src}}"> <span th:text="${mediaBean.src}"/></a>
    </div>
    <div class="pull-right">
      <a class="btn btn-md btn-primary fa fa-download" th:href="@{${mediaBean.src}}"
         th:attr="download='' + ${mediaBean.name} +''"></a>
    </div>
  </div>
</div>
