<script type="text/javascript" th:src="@{../../../js/page.js}"></script>
<div th:replace="common/back_codemirror">
</div>
<form id="pageCreateForm" th:object="${createForm}">
  <div class="card mb-4">
    <div class="card-body">
      <div class="form-check form-group mb-3" id="formInputName">
        <label th:text="#{page.name.label}"/>
        <input type="text" class="form-control" th:field="*{name}"/>
        <small class="form-text text-muted" th:text="#{page.name.help}"/>
      </div>
      <div class="form-check form-group mb-3" id="formInputMenuTitle">
        <label th:text="#{page.menuTitle.label}"/>
        <input type="text" class="form-control" th:field="*{menuTitle}"/>
        <small class="form-text text-muted" th:text="#{page.menuTitle.help}"/>
      </div>
      <div class="form-check form-group mb-3" id="formInputHref">
        <label th:text="#{page.href.label}"/>
        <input type="text" class="form-control" th:field="*{href}"/>
        <small class="form-text text-muted" th:text="#{page.href.help}"/>
      </div>
      <div class="form-check">
        <label th:text="#{page.indexed.label}"/>
      </div>
      <div class="form-check">
        <label class="switch">
          <input type="checkbox" class="form-check-input"
                 th:name="indexed" th:id="indexed">
          <span class="slider"></span>
        </label>
        <small class="form-text text-muted" th:text="#{page.indexed.help}"/>
      </div>
      <div class="form-check form-group">
        <label th:text="#{page.body.language.label}"/>
        <select name="localeCode" id="localeCode" th:field="*{localeCode}"
                class="form-control">
          <option th:each="locale : ${locales}" th:value="${locale.language}"
                  th:text="${locale.displayLanguage}"></option>
        </select>
        <small class="form-text text-muted" th:text="#{page.body.language.help}"/>
      </div>
      <div class="form-check form-group mb-3" id="formInputBody">
        <label th:text="#{page.body.label}"/>
        <textarea rows="3" id="pageBody" class="form-control" th:field="*{body}"/>
        <small class="form-text text-muted" th:text="#{page.body.help}"/>
      </div>
      <div class="form-check form-group mb-3" id="formInputHeader">
        <label th:text="#{page.header.label}"/>
        <textarea rows="3" id="pageHeader" class="form-control" th:field="*{header}"/>
        <small class="form-text text-muted" th:text="#{page.header.help}"/>
      </div>
      <div class="form-check form-group mb-3" id="formInputFooter">
        <label th:text="#{page.footer.label}"/>
        <textarea rows="3" id="pageFooter" class="form-control" th:field="*{footer}"/>
        <small class="form-text text-muted" th:text="#{page.footer.help}"/>
      </div>
      <div class="form-check form-group mb-3" id="formInputMeta">
        <label th:text="#{page.meta.label}"/>
        <textarea rows="3" id="pageMeta" class="form-control" th:field="*{meta}"/>
        <small class="form-text text-muted" th:text="#{page.meta.help}"/>
      </div>
    </div>
    <div class="card-footer">
      <div class="float-right">
        <a class="btn btn-md btn-danger collapsed fa fa-times fa-white"
           href="/manager/pages"
        ></a>
        <a class="btn btn-md btn-success fa fa-check fa-white" onclick="postCreatePageForm()"
           th:if="${currentUser.hasPrivilege('webmastering:style:create')}"></a>
      </div>
    </div>
  </div>
</form>
<div class="card card-loader">
  <div class="loader">
  </div>
</div>
<script type="text/javascript">
  var codeMirrorHeader;
  var codeMirrorBody;
  var codeMirrorFooter;
  var codeMirrorMeta;

  $(document).ready(function () {
    codeMirrorBody = setUpCodeMirror("pageBody");
    codeMirrorHeader = setUpCodeMirror("pageHeader");
    codeMirrorFooter = setUpCodeMirror("pageFooter");
    codeMirrorMeta = setUpCodeMirror("pageMeta");
    fix_code_mirror_height();

  });

  var setUpCodeMirror = function (textAreaId) {
    var codeMirror = CodeMirror.fromTextArea(document.getElementById(textAreaId),
        {
          theme: "neo",
          lineNumbers: true,
          lineWrapping: true,
          extraKeys: {
            "F11": function (cm) {
              cm.setOption("fullScreen", !cm.getOption("fullScreen"));
            },
            "Esc": function (cm) {
              if (cm.getOption("fullScreen")) {
                cm.setOption("fullScreen", false);
              }
            },
            "Ctrl-Space": "autocomplete"
          }
        });
    codeMirror.on("drop", function (editor, e) {
      var dataTransferred = e.dataTransfer.getData("text/html");
      var newDiv = '\n<div id="widget_' + dataTransferred + '">\n</div>';
      var coordinatess = codeMirror.coordsChar({
        left: e.x,
        top: e.y
      });
      editor.replaceRange(newDiv, coordinatess);
    });
    return codeMirror;
  }
</script>
