<script type="text/javascript" th:src="@{../../../js/page.js}"></script>
<div th:replace="common/back_codemirror">
</div>
<div class="card mb-4">
  <div role="tabpanel" class="card-header">
    <ul class="nav nav-tabs card-header-tabs" id="pageTabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="main-tab" data-toggle="tab" href="#" role="tab"
           onclick="goToPageMainTab()">
          <span th:text="#{page.tab.main}"/>
        </a>
      </li>
      <li class="nav-item" th:if="${currentUser.hasPrivilege('webmastering:pages-body:read')}">
        <a class="nav-link" id="body-tab" data-toggle="tab" href="#" role="tab"
           onclick="goToBodyTab()">
          <span th:text="#{page.tab.body}"/>
        </a>
      </li>
      <li class="nav-item" th:if="${currentUser.hasPrivilege('webmastering:pages-header:read')}">
        <a class="nav-link" id="header-tab" data-toggle="tab" href="#" role="tab"
           onclick="goToHeaderTab()">
          <span th:text="#{page.tab.header}"/>
        </a>
      </li>
      <li class="nav-item" th:if="${currentUser.hasPrivilege('webmastering:pages-footer:read')}">
        <a class="nav-link" id="footer-tab" data-toggle="tab" href="#" role="tab"
           onclick="goToFooterTab()">
          <span th:text="#{page.tab.footer}"/>
        </a>
      </li>
      <li class="nav-item" th:if="${currentUser.hasPrivilege('webmastering:pages-meta:read')}">
        <a class="nav-link" id="news-meta-tab" data-toggle="tab" href="#" role="tab"
           onclick="goToMetaTab()">
          <span th:text="#{page.tab.meta}"/>
        </a>
      </li>

      <li class="nav-item" th:if="${currentUser.hasPrivilege('webmastering:pages-widgets:read')}">
        <a class="nav-link" id="widgets-tab" data-toggle="tab" href="#" role="tab"
           onclick="goToWidgetsTab()">
          <span th:text="#{page.widgets}"/>
        </a>
      </li>
      <li class="nav-item" th:if="${currentUser.hasPrivilege('webmastering:pages-amp:read')}">
        <a class="nav-link" id="amp-tab" data-toggle="tab" href="#" role="tab"
           onclick="goToPageAmpTab()">
          <span th:text="#{page.tab.amp}"/>
        </a>
      </li>
      <li class="nav-item" th:if="${currentUser.hasPrivilege('administration:memberships:read')}">
        <a class="nav-link" id="membership-tab" data-toggle="tab" href="#" role="tab"
           onclick="goToMembershipTab()">
          <span th:text="#{tab.membership}"/>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="preview-tab" data-toggle="tab" href="#" role="tab"
           onclick="goToPreviewTab()">
          <span th:text="#{page.preview}"/>
        </a>
      </li>
      <div th:replace="common/back_delete_link :: deleteTab(${'webmastering:pages:delete'})"/>
    </ul>
  </div>
  <div class="tab-content card-body" id="pageTabContent">
    <div role="tabpanel" class="tab-pane fade active show" id="ajaxTab">
    </div>
  </div>
</div>
<script th:inline="javascript">

  var codeMirrorHeader;
  var codeMirrorBody;
  var codeMirrorFooter;
  var codeMirrorMeta;
  var codeMirrorAMP;
  var currentTab = "";
  var languageCode = [[${updateForm.localeCode}]];

  var goToBodyTab = function () {
    if (currentTab !== "body") {
      var url = "/manager/pages/" + [['' + ${updateForm.id} +'']] + "/_body?languageCode="
          + languageCode;
      $.get(url, function (data) {
        $("#ajaxTab").html(data);
        codeMirrorBody = setUpCodeMirror("pageBody");
        fix_code_mirror_height();
        prepareDragAndDrop();
        currentTab = "body";
      });
    }
  };

  var goToHeaderTab = function () {
    if (currentTab !== "header") {
      var url = "/manager/pages/" + [['' + ${updateForm.id} +'']] + "/_header?languageCode="
          + languageCode;
      $.get(url, function (data) {
        $("#ajaxTab").html(data);
        codeMirrorHeader = setUpCodeMirror("pageHeader");
        fix_code_mirror_height();
        prepareDragAndDrop();
        currentTab = "header";
      });
    }
  };

  var goToFooterTab = function () {
    if (currentTab !== "footer") {
      var url = "/manager/pages/" + [['' + ${updateForm.id} +'']] + "/_footer?languageCode="
          + languageCode;
      $.get(url, function (data) {
        $("#ajaxTab").html(data);
        codeMirrorFooter = setUpCodeMirror("pageFooter");
        fix_code_mirror_height();
        prepareDragAndDrop();
        currentTab = "footer";
      });
    }
  };

  var goToMetaTab = function () {
    if (currentTab !== "new_meta") {
      var url = "/manager/pages/" + [['' + ${updateForm.id} +'']] + "/_meta?languageCode="
          + languageCode;
      $.get(url, function (data) {
        $("#ajaxTab").html(data);
        currentTab = "new_meta";
        codeMirrorMeta = setUpCodeMirror("pageMeta");
        fix_code_mirror_height();
      });
    }
  };

  var goToWidgetsTab = function () {
    if (currentTab !== "widgets") {
      var url = "/manager/pages/" + [['' + ${updateForm.id} +'']] + "/_widgets?languageCode="
          + languageCode;
      $.get(url, function (data) {
        $("#ajaxTab").html(data);
        currentTab = "widgets";
      });
    }
  };

  var goToPageMainTab = function () {
    if (currentTab !== "main") {
      var url = "/manager/pages/" + [['' + ${updateForm.id} +'']] + "/_main?languageCode="
          + languageCode;
      $.get(url, function (data) {
        $("#ajaxTab").html(data);
        currentTab = "main";
      });
    }
  };

  var goToPageAmpTab = function () {
    if (currentTab !== "amp") {
      var url = "/manager/pages/" + [['' + ${updateForm.id} +'']] + "/_amp?languageCode="
          + languageCode;
      $.get(url, function (data) {
        $("#ajaxTab").html(data);
        codeMirrorAMP = setUpCodeMirror("pageAmp");
        fix_code_mirror_height();
        prepareDragAndDrop();
        currentTab = "amp";
      });
    }
  };

  var goToMembershipTab = function () {
    if (currentTab !== "membership") {
      var url = "/manager/pages/" + [['' + ${updateForm.id} +'']] + "/_memberships";
      $.get(url, function (data) {
        $("#ajaxTab").html(data);
        currentTab = "membership";
      });
    }
  };

  var goToPreviewTab = function () {
    if (currentTab !== "preview") {
      var url = "/manager/pages/" + [['' + ${updateForm.id} +'']] + "/_preview";
      $.get(url, function (data) {
        $("#ajaxTab").html(data);
        currentTab = "preview";
      });
    }
  };

  $(document).ready(function () {
    goToPageMainTab();

    $("#confirmDelete").click(function () {
      var url = "/manager/pages/" + [['' + ${updateForm.id} +'']];
      var urlFallBack = "/manager/pages";
      var form = $("#pageTabContent");
      var loader = $(".loader");
      var cardLoader = $(".card-loader");
      deleteAndHandleResult(form, loader, cardLoader, url, urlFallBack);
    });
  });

  var prepareDragAndDrop = function () {
    $(".linkedWidget").on("dragstart", function (event) {
      event.originalEvent.dataTransfer.setData("text/html",
          event.target.getAttribute("data-name"));
      $.event.addProp('dataTransfer');
    })
  }

  var setUpCodeMirror = function (textAreaId) {
    var codeMirror = CodeMirror.fromTextArea(document.getElementById(textAreaId),
        {
          theme: "neo",
          lineNumbers: true,
          lineWrapping: true,
          extraKeys: {
            "F11": function (cm) {
              cm.setOption("fullScreen", !cm.getOption("fullScreen"));
            },
            "Esc": function (cm) {
              if (cm.getOption("fullScreen")) {
                cm.setOption("fullScreen", false);
              }
            },
            "Ctrl-Space": "autocomplete"
          }
        });
    codeMirror.on("drop", function (editor, e) {
      var dataTransferred = e.dataTransfer.getData("text/html");
      var newDiv = '\n<div id="widget_' + dataTransferred + '">\n</div>';
      var coordinatess = codeMirror.coordsChar({
        left: e.x,
        top: e.y
      });
      editor.replaceRange(newDiv, coordinatess);
    });
    return codeMirror;
  }
</script>


           
