/**
COMMON
*/

.homeMenu, .previewMenu {
  color: rgba(0, 0, 0, .5) !important;
  text-decoration: none !important;
  cursor: pointer !important;
}

.homeMenu:hover, .previewMenu:hover {
  color: rgba(0, 0, 0, .7) !important;
  text-decoration: none !important;
  cursor: pointer !important;
}

body {
  text-overflow: ellipsis;
  position: relative;
  margin: 0;
  overflow-x: hidden;
}

.login-body {
  height: 100%;
}

.wrapper {
  height: 100vh;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#buttonAdd, .newsElement {
  margin-bottom: 5px;
}

.full-width {
  width: 100%;
}

.full-size:after {
  display: block;

}

a, button {
  cursor: pointer;
}

.forgotten-password-link {
  cursor: pointer;
}

.form-control-file {
  display: none;
}

.dragndrop {
  padding: 10px;
}

.drop_zone {
  border: 2px dashed #bbb;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  color: #bbb;
}

.dropping {
  color: #025aa5 !important;
  border: 2px dashed #025aa5 !important;
}

.top-nav {
  border-bottom: solid 1px #e9ecef;
}

.flex-grow-0 {
  flex-grow: 0 !important;
}

.flex-grow-1 {
  flex: 1 1 auto;
}

.top-navigation {
  z-index: 1020;
  height: 4rem;
  padding: 0;
  border-bottom: solid 1px #e9ecef;
  background: #fff !important;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.menu-toggler {
  border-radius: 0;
  border-width: 0 1px 0 0;
  border-color: #e9ecef;
  padding: 1rem;
  line-height: 2rem;
  vertical-align: middle;
  width: 4rem;
  text-align: center;
  color: #212529;
}

.menu-toggler:hover {
  background: #f8f9fa;
}

.menu-toggler:focus {
  outline: none !important;
  box-shadow: none;
}

#menuCollapse {
  overflow-y: auto;
  margin-left: -14rem;
  transition: all 0.2s ease-in-out;
}

#menuCollapse.show {
  margin-left: 0;
  transition: all 0.2s ease-in-out;
}

/**
MENU
*/

ul.dropdown-menu {
  max-width: 400px;
}

.back-menu {
  box-shadow: inset -2px 0 0 #e5e5e5;
  top: 4rem;
  height: calc(100vh - 4rem) !important;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #222222;
}

/**
BREADCRUMB
*/
.breacrumb a {
  text-decoration: none;
}

/**
ACTUALITES
*/
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.stickyImport {
  position: fixed;
  right: 0;
  top: 50%;
  margin: 0 1% 0 0;
  z-index: 9999;
}

@media (min-width: 1800px) {
  .stickyImport {
    position: fixed;
    right: 0;
    top: 50%;
    margin: 0 8% 0 0;
    z-index: 9999;
  }
}

/**
FONT AWESOME
*/

.fa-white {
  color: #ffffff !important;
}

.fa-2 {
  font-size: 2em;
}

#previewIframe {
  width: 100%;
  min-height: 800px;
}

.table-link {
  text-decoration: none;
  color: rgba(0, 0, 0, .5);
}

.table-link:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, .7);
}

.tooltip-inner {
  max-width: 350px;
  width: 350px;
}

a.collapsed .fa-angle-up:before {
  content: "\f107";
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* CodeMirror */
.CodeMirror-fullscreen {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  z-index: 1200;
}

.CodeMirror-hints {
  position: absolute !important;
  z-index: 10;
  overflow: hidden;
  list-style: none;

  margin: 0;
  padding: 2px;

  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
  -moz-box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
  border-radius: 3px;
  border: 1px solid silver;

  background: white;
  font-size: 90%;
  font-family: monospace;

  max-height: 20em;
  overflow-y: auto;
}

.CodeMirror-hint {
  margin: 0;
  padding: 0 4px;
  border-radius: 2px;
  white-space: pre;
  color: black;
  cursor: pointer;
}

li.CodeMirror-hint-active {
  background: #08f;
  color: white;
}




