<form id="pageUpdateForm" th:object="${updateForm}">
  <div class="row">
    <div class="col-9">
      <div class="form-check form-group">
        <label th:text="#{page.body.language.label}"/>
        <select name="localeCode" id="localeCode" th:field="*{localeCode}"
                class="form-control">
          <option th:each="locale : ${locales}" th:value="${locale.language}"
                  th:text="${locale.displayLanguage}"></option>
        </select>
        <small class="form-text text-muted" th:text="#{page.body.language.help}"/>
      </div>
      <div class="form-check form-group mb-3" id="formInputBody">
        <label th:text="#{page.amp.label}"/>
        <br/>
        <textarea rows="3" id="pageAmp" class="form-control" th:field="*{amp}"/>
        <small class="form-text text-muted" th:text="#{page.amp.help}"/>
      </div>
      <input type="hidden" th:field="*{id}"/>
      <input type="hidden" th:field="*{creationDate}"/>
      <input type="hidden" th:field="*{creationUser}"/>
      <input type="hidden" th:field="*{modificationDate}"/>
      <input type="hidden" th:field="*{modificationUser}"/>
      <input type="hidden" th:field="*{name}"/>
      <input type="hidden" th:field="*{menuTitle}"/>
      <input type="hidden" th:field="*{header}"/>
      <input type="hidden" th:field="*{footer}"/>
      <input type="hidden" th:field="*{body}"/>
      <input type="hidden" th:field="*{meta}"/>
      <input type="hidden" th:field="*{href}"/>
      <input type="hidden" th:field="*{indexed}"/>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="float-right">
        <a class="btn btn-md btn-danger fa fa-times fa-white" onclick="cancelUpdatePage()"></a>
        <a class="btn btn-md btn-success fa fa-check fa-white"
           onclick="postUpdatePageForm(goToPageAmpTab)"
           th:if="${currentUser.hasPrivilege('webmastering:pages-amp:write')}"></a>
      </div>
    </div>
  </div>
</form>
<div class="card card-loader">
  <div class="loader">
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    $(".card-loader").hide();
    $(".loader").hide();

    $("#localeCode").change(function () {
      currentTab = "";
      languageCode = $("#localeCode").val();
      goToPageAmpTab();
    });
  });


</script>