<form id="pageUpdateForm" th:object="${updateForm}">
  <div class="form-check form-group mb-3" id="formInputName">
    <label th:text="#{page.name.label}"/>
    <input type="text" class="form-control" th:field="*{name}"/>
    <small class="form-text text-muted" th:text="#{page.name.help}"/>
  </div>
  <div class="form-check form-group mb-3" id="formInputMenuTitle">
    <label th:text="#{page.menuTitle.label}"/>
    <input type="text" class="form-control" th:field="*{menuTitle}"/>
    <small class="form-text text-muted" th:text="#{page.menuTitle.help}"/>
  </div>
  <div class="form-check form-group mb-3" id="formInputHref">
    <label th:text="#{page.href.label}"/>
    <input type="text" class="form-control" th:field="*{href}"/>
    <small class="form-text text-muted" th:text="#{page.href.help}"/>
  </div>
  <div class="form-check">
    <label th:text="#{page.indexed.label}"/>
  </div>
  <div class="form-check">
    <label class="switch">
      <input type="checkbox" class="form-check-input"
             th:name="indexed" th:id="indexed" th:checked="${updateForm.indexed} == true">
      <span class="slider"></span>
    </label>
  </div>
  <small class="form-text text-muted" th:text="#{page.indexed.help}"/>
  <input type="hidden" th:field="*{id}"/>
  <input type="hidden" th:field="*{creationDate}"/>
  <input type="hidden" th:field="*{creationUser}"/>
  <input type="hidden" th:field="*{modificationDate}"/>
  <input type="hidden" th:field="*{modificationUser}"/>
  <input type="hidden" th:field="*{body}"/>
  <input type="hidden" th:field="*{localeCode}"/>
  <input type="hidden" th:field="*{footer}"/>
  <input type="hidden" th:field="*{header}"/>
  <input type="hidden" th:field="*{meta}"/>
  <input type="hidden" th:field="*{amp}"/>
  <div class="float-right">
    <a class="btn btn-md btn-danger fa fa-times fa-white" onclick="cancelUpdatePage()"></a>
    <a class="btn btn-md btn-success fa fa-check fa-white"
       onclick="postUpdatePageForm(goToPageMainTab)"
       th:if="${currentUser.hasPrivilege('webmastering:pages:write')}"></a>
  </div>
</form>
<div class="card card-loader">
  <div class="loader">
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
        $(".card-loader").hide();
        $(".loader").hide();
      }
  );
</script>

