<script type="text/javascript" th:src="@{../../../js/style.js}"></script>
<div th:replace="common/back_codemirror">
</div>
<div class="card mb-4">
  <div role="tabpanel" class="card-header">
    <ul class="nav nav-tabs card-header-tabs" id="styleTabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="main-tab" data-toggle="tab" href="#" role="tab"
           onclick="goToStyleMainTab()">
          <span th:text="#{styles.tab.main}"/>
        </a>
      </li>
      <li class="nav-item" th:if="${currentUser.hasPrivilege('administration:memberships:read')}">
        <a class="nav-link" id="membership-tab" data-toggle="tab" href="#" role="tab"
           onclick="goToMembershipTab()">
          <span th:text="#{tab.membership}"/>
        </a>
      </li>
      <div th:replace="common/back_delete_link :: deleteTab(${'webmastering:styles:delete'})"/>
    </ul>
  </div>
  <div class="tab-content card-body" id="styleTabContent">
    <div role="tabpanel" class="tab-pane fade active show" id="ajaxTab">
    </div>
  </div>
</div>
<script th:inline="javascript">

  var currentTab = "";

  var goToMembershipTab = function () {
    if (currentTab !== "memberships") {
      var url = "/manager/styles/" + [['' + ${updateForm.id} +'']] + "/_memberships";
      $.get(url, function (data) {
        $("#ajaxTab").html(data);
        currentTab = "memberships";
      });
    }
  };

  var goToStyleMainTab = function () {
    if (currentTab !== "main") {
      var url = "/manager/styles/" + [['' + ${updateForm.id} +'']] + "/_main";
      $.get(url, function (data) {
        $("#ajaxTab").html(data);
        currentTab = "main";
      });
    }
  };

  $(document).ready(function () {
    goToStyleMainTab();

    $("#confirmDelete").click(function () {
      var url = "/manager/styles/" + [['' + ${updateForm.id} +'']];
      var urlFallBack = "/manager/styles";
      var form = $("#styleTabContent");
      var loader = $(".loader");
      var cardLoader = $(".card-loader");
      deleteAndHandleResult(form, loader, cardLoader, url, urlFallBack);
    });
  });

</script>
