<div class="row">
  <div class="col">
    <div class="input-group mt-3 mb-3">
      <input type="text" id="linkedQueryInput" class="form-control"
             th:placeholder="${searchPlaceHolder}"
             th:aria-label="${searchPlaceHolder}"
             aria-describedby="addon">
      <div class="input-group-append">
        <btn class="btn input-group-text" id="addon" onclick="searchLinkedPages()">
          <i class="fa fa-search"></i>
        </btn>
      </div>
    </div>
  </div>
</div>
<div class="card card-loader">
  <div class="loader">
  </div>
</div>
<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th scope="col" colspan="2">
      <label th:text="#{page.name.label}"/>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="bean : ${linkedPages.content}">
    <td>
      <div class="full-width"
           th:text="${bean.name}"/>
    </td>
    <td>
      <a class="btn btn-md btn-danger fa fa-times fa-white float-right" th:id="${bean.id}"
         th:if="${currentUser.hasPrivilege('webmastering:sitemaps:delete')}"
         onclick="deleteSitemap(this.id)"></a>
    </td>
  </tr>
  </tbody>
</table>
<script th:inline="javascript">

  $(document).ready(function () {
    $(".card-loader").hide();
    $(".loader").hide();
    var queryInput = $("#linkedQueryInput");
    queryInput.keyup(function () {
      var value = $(this).val();
      if (value.length >= 3) {
        searchLinkedPages();
      }
      if (value.length == 0) {
        searchLinkedPages();
      }
    });

  });


</script>

