<form id="websiteUpdateForm" th:object="${updateForm}">
  <input type="hidden" th:field="*{id}"/>
  <input type="hidden" th:field="*{creationDate}"/>
  <input type="hidden" th:field="*{creationUser}"/>
  <input type="hidden" th:field="*{modificationDate}"/>
  <input type="hidden" th:field="*{modificationUser}"/>
  <div class="card mb-4">
    <div class="card-body">
      <div class="form-check form-group mb-3" id="formInputName">
        <label th:text="#{website.name.label}"/>
        <input type="text" class="form-control" th:field="*{name}"/>
        <small class="form-text text-muted" th:text="#{website.name.help}"/>
      </div>
      <div class="form-check form-group mb-3" id="formInputExtension">
        <label th:text="#{website.extension.label}"/>
        <input type="text" class="form-control" th:field="*{extension}"/>
        <small class="form-text text-muted" th:text="#{website.extension.help}"/>
      </div>
      <div class="form-check form-group mb-3" id="formInputDescription">
        <label th:text="#{website.description.label}"/>
        <textarea rows="3" id="description" class="form-control" th:field="*{description}"/>
        <small class="form-text text-muted" th:text="#{website.description.help}"/>
      </div>
      <div class="form-check">
        <label th:text="#{website.secure.label}"/>
      </div>
      <div class="form-check">
        <label class="switch">
          <input type="checkbox" class="form-check-input"
                 th:name="secure" th:id="secure" th:checked="${updateForm.secure} == true">
          <span class="slider"></span>
        </label>
      </div>
      <small class="form-text text-muted" th:text="#{website.secure.help}"/>
      <div class="form-check mt-5">
        <label th:text="#{website.system.jquery.label}"/>
      </div>
      <div class="form-check">
        <label class="switch">
          <input type="checkbox" class="form-check-input"
                 th:name="systemJquery" th:id="systemJquery"
                 th:checked="${updateForm.systemJquery} == true">
          <span class="slider"></span>
        </label>
      </div>
      <small class="form-text text-muted" th:text="#{website.system.jquery.help}"/>
      <div class="form-check mt-5">
        <label th:text="#{website.system.bootstrap.label}"/>
      </div>
      <div class="form-check">
        <label class="switch">
          <input type="checkbox" class="form-check-input"
                 th:name="systemBootstrap" th:id="systemBootstrap"
                 th:checked="${updateForm.systemBootstrap} == true">
          <span class="slider"></span>
        </label>
      </div>
      <small class="form-text text-muted" th:text="#{website.system.bootstrap.help}"/>
      <div class="form-check mt-5">
        <label th:text="#{website.system.font.awesome.label}"/>
      </div>
      <div class="form-check">
        <label class="switch">
          <input type="checkbox" class="form-check-input"
                 th:name="systemFontAwesome" th:id="systemFontAwesome"
                 th:checked="${updateForm.systemFontAwesome} == true">
          <span class="slider"></span>
        </label>
      </div>
      <small class="form-text text-muted" th:text="#{website.system.font.awesome.help}"/>
    </div>
    <div class="card-footer">
      <div class="float-right">
        <a class="btn btn-md btn-danger collapsed fa fa-times fa-white"
           onclick="cancelUpdateWebsite()"
        ></a>
        <a class="btn btn-md btn-success fa fa-check fa-white" onclick="postUpdateWebsiteForm()"
           th:if="${currentUser.hasPrivilege('webmastering:websites:write')}"></a>
      </div>
    </div>
  </div>
</form>
<div class="card card-loader">
  <div class="loader">
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    CKEDITOR.replace("description");
    $(".card-loader").hide();
    $(".loader").hide();
  });

</script>