<script type="text/javascript" th:src="@{../../../webjars/ckeditor/basic/ckeditor.js}"></script>
<script type="text/javascript" th:src="@{../../../js/website.js}"></script>
<form id="websiteCreateForm" th:object="${createForm}">
  <div class="card mb-4">
    <div class="card-body">
      <div class="form-check  mb-3" id="formInputName">
        <label th:text="#{website.name.label}"/>
        <input type="text" class="form-control" th:field="*{name}"/>
        <small class="form-text text-muted" th:text="#{website.name.help}"/>
      </div>
      <div class="form-check  mb-3" id="formInputDescription">
        <label th:text="#{website.description.label}"/>
        <textarea rows="3" id="description" class="form-control" th:field="*{description}"/>
        <small class="form-text text-muted" th:text="#{website.description.help}"/>
      </div>
      <div class="form-check form-group mb-3" id="formInputExtension">
        <label th:text="#{website.extension.label}"/>
        <input type="text" class="form-control" th:field="*{extension}"/>
        <small class="form-text text-muted" th:text="#{website.extension.help}"/>
      </div>
      <div class="form-check">
        <label th:text="#{website.secure.label}"/>
      </div>
      <div class="form-check">
        <label class="switch">
          <input type="checkbox" class="form-check-input"
                 th:name="secure" th:id="secure">
          <span class="slider"></span>
        </label>
        <small class="form-text text-muted" th:text="#{website.secure.help}"/>
      </div>
    </div>
    <div class="card-footer">
      <div class="float-right">
        <a class="btn btn-md btn-danger collapsed fa fa-times fa-white"
           onclick="cancelCreateWebsite()"
        ></a>
        <a class="btn btn-md btn-success fa fa-check fa-white" onclick="postCreateWebsiteForm()"
           th:if="${currentUser.hasPrivilege('webmastering:websites:create')}"></a>
      </div>
    </div>
  </div>
</form>
<div class="card card-loader">
  <div class="loader">
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    CKEDITOR.replace("description");
  });

</script>