<script type="text/javascript" th:src="@{../../../webjars/ckeditor/basic/ckeditor.js}"></script>
<script type="text/javascript" th:src="@{../../../js/website.js}"></script>
<div class="card mb-4">
  <div role="tabpanel" class="card-header">
    <ul class="nav nav-tabs card-header-tabs" id="websiteTabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="main-tab" data-toggle="tab" href="#" role="tab"
           onclick="goToWebsiteMainTab()">
          <span th:text="#{websites.tab.main}"/>
        </a>
      </li>
      <li class="nav-item" th:if="${currentUser.hasPrivilege('webmastering:sitemaps:read')}">
        <a class="nav-link" id="sitemap-tab" data-toggle="tab" href="#" role="tab"
           onclick="goToSitemapTab()">
          <span th:text="#{websites.tab.sitemap}"/>
        </a>
      </li>
      <li class="nav-item" th:if="${currentUser.hasPrivilege('webmastering:designs:read')}">
        <a class="nav-link" id="design-tab" data-toggle="tab" href="#" role="tab"
           onclick="goToDesignTab()">
          <span th:text="#{websites.tab.design}"/>
        </a>
      </li>
      <li class="nav-item" th:if="${currentUser.hasPrivilege('administration:memberships:read')}">
        <a class="nav-link" id="membership-tab" data-toggle="tab" href="#" role="tab"
           onclick="goToMembershipTab()">
          <span th:text="#{tab.membership}"/>
        </a>
      </li>
      <div th:replace="common/back_delete_link :: deleteTab(${'webmastering:websites:delete'})"/>
    </ul>
  </div>
  <div class="tab-content card-body" id="websiteTabContent">
    <div role="tabpanel" class="tab-pane fade active show" id="ajaxTab">
    </div>
  </div>
</div>
<script th:inline="javascript">

  var currentTab = "";

  var goToWebsiteMainTab = function () {
    if (currentTab !== "main") {
      var url = "/manager/websites/" + [['' + ${updateForm.id} +'']] + "/_main";
      $.get(url, function (data) {
        $("#ajaxTab").html(data);
        currentTab = "main";
      });
    }
  };

  var goToSitemapTab = function () {
    if (currentTab !== "sitemap") {
      var url = "/manager/websites/" + [['' + ${updateForm.id} +'']] + "/_sitemap";
      $.get(url, function (data) {
        $("#ajaxTab").html(data);
        currentTab = "sitemap";
      });
    }
  };

  var goToDesignTab = function () {
    if (currentTab !== "design") {
      var url = "/manager/websites/" + [['' + ${updateForm.id} +'']] + "/_design";
      $.get(url, function (data) {
        $("#ajaxTab").html(data);
        currentTab = "design";
      });
    }
  };

  var goToMembershipTab = function () {
    if (currentTab !== "membership") {
      var url = "/manager/websites/" + [['' + ${updateForm.id} +'']] + "/_memberships";
      $.get(url, function (data) {
        $("#ajaxTab").html(data);
        currentTab = "membership";
      });
    }
  };

  $(document).ready(function () {
    goToWebsiteMainTab();

    $("#confirmDelete").click(function () {
      var url = "/manager/websites/" + [['' + ${updateForm.id} +'']];
      var urlFallBack = "/manager/websites";
      var form = $("#websiteTabContent");
      var loader = $(".loader");
      var cardLoader = $(".card-loader");
      deleteAndHandleResult(form, loader, cardLoader, url, urlFallBack);
    });
  });

</script>



